<%=javascript_include_tag "datatables/prototype" %>
<%=javascript_include_tag "datatables/jquery.dataTables.min" %>
<%=javascript_include_tag "datatables/dataTables.bootstrap" %>
<%=javascript_include_tag "bootstrap/bootstrap.min" %>

<% #= stylesheet_link_tag "datatables/jquery.dataTables.min" %>


<style>


    #example{
        background-color: #d3d3d3;
    }
    #example tr td{
        border-left: 0.5px dotted lightgray;
        padding: 7px;
    }

    .action-btn .fa{
        min-width: 35px;
        font-size: 18px;

    }

    .checkbox{
        margin-left: 5px;

    }

    th{
        background: lightsteelblue;
        color: black;
    }

    .panel-heading{
        margin-bottom: 20px;
    }

    .action-btn{
        border: none !important;
        margin-top: 0px;
        min-width: 50px;
        padding: 3px;
        margin-left: 5px;

    }

    .fix-middle{
        position: fixed;
        z-index: 2000;
        left: 55%;
        top: 40%;
    }

    #roll-options{
        width: 100%;
    }

    #roll-options td{
        padding-right: 20px;
    }

    #verificationTable tr td{
        text-align: left;
        align: left;
        border: 1px dotted #d3d3d3;
        padding: 8px;
        padding-left: 25px;
    }

    #verificationTable tr .labeel{
        font-weight: bold;
        width: 45%;
    }

</style>

<% @type_stats = {} if @type_stats.blank?%>
<div class="panel panel-default">
  <div class="panel-heading" style="height: 50px;">
    <table style="width: 100%;">
      <tr>
        <td>
          <h3 style="padding-bottom: 15px;color:darkslategray; height: 40px;margin-top: 0px;"><%= @section%></h3>
        </td>
        <td  style="padding-bottom: 15px; min-width: 200px;">
          <button class="btn btn-primary hidden"  style="border-radius: 5px;" onclick="__$('processing_wait').style.display = 'none'; jQuery('#print_filters').modal('show')">
            By Village of Community Registration
          </button>
          <label  id = "filter_name" class="btn btn-default"  style="border-radius: 5px; border: none;">

          </label>
        </td>
        <td colspan="8" style="width: 80%;" class="pull-right">
          <button onclick="selectBadge('All')" type="button" style="float: right;margin: 0px !important;border-radius: 0px !important;" class="btn btn-default">Total
            <span class="badge" style="background: #2e6da4"><%=@type_stats.values.sum || 0%></span></button>
          <button onclick="selectBadge('Abandoned')" type="button" style="float: right;margin: 0px !important;border-radius: 0px !important;" class="btn btn-default">Abandoned
            <span class="badge" style="background: #2e6da4"><%=@type_stats['Abandoned'] || 0%></span></button>
          <button onclick="selectBadge('Orphaned')" type="button" style="float: right;margin: 0px !important;border-radius: 0px !important;" class="btn btn-default">Orphaned
            <span class="badge"  style="background: #2e6da4"><%=@type_stats['Orphaned'] || 0%></span></button>
          <button onclick="selectBadge('Adopted')" type="button" style="float: right;margin: 0px !important;border-radius: 0px !important;" class="btn btn-default">Adopted
            <span class="badge"  style="background: #2e6da4"><%=@type_stats['Adopted'] || 0%></span></button>
          <button onclick="selectBadge('Normal')" type="button" style="float: right;margin: 0px !important;border-radius: 0px !important;width: 150px;" class="btn btn-default">Normal
            <span class="badge"  style="background: #2e6da4"><%=@type_stats['Normal'] || 0%></span></button>
        </td>
      </tr>
    </table>
  </div>


  <div class="fix-middle" style="height: 40px; margin-top: 0px;">
        <button id="print-all" onclick="printAll()"
                class=" btn btn-primary"><i class="fa fa-print"></i>Print Selected</button>
  </div>

  <div class="fix-middle" style="height: 40px; margin-top: 0px;">
  <button id="dispatch-all" onclick="jQuery('#printerModal2').modal('show')"
          class=" btn btn-primary">Dispatch Selected</button>
</div>
<style>
    #print-all, #dispatch-all{
        display: none;
        font-size: 1.1em;
        width: 150px;
    }

</style>
<div id="table-div" style="height:650px;overflow:hidden;width:100%">
<table id="example" class="display table table-condensed table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th style="text-align: left;">BEN</th>
      <th style="text-align: left;">National ID</th>
      <th style="text-align: left;">Name</th>
      <th style="text-align: center; width:90px;">Birthdate</th>
      <th style="text-align: left;">Gender</th>
      <th style="text-align: left;">Mother's Name</th>
      <th style="text-align: left;">Father's Name</th>
      <th style="text-align: center;">Status</th>
      <th>&nbsp;
            <div class="checkbox pull-right">
              <label><input id='select-all' onchange="selectAll()" type="checkbox" value=""></label>
            </div>
      </th>
  </tr>
  </thead>
    <%(@records || []).each do |record|
       next
    %>
      <tr>
        <td style="text-align: left;width: 15%"><%= record['ben'] %>&nbsp;</td>
        <% if true%>
            <td style="text-align: left;width: 15%"><%= record['brn'] %>&nbsp;</td>
      <% end %>
        <td style="text-align: left;width: 15%"><%= record['name']%></td>
        <td style="text-align: center;width: 15%"><%= record['dob'] %></td>
        <td style="text-align: center;width: 3%"><%= record['gender'] %></td>
        <td style="text-align: center;width: 15%"><%= record['mother_name'] %></td>
        <td style="text-align: center;width: 15%"><%= record['father_name'] %></td>
        <td style="text-align: center;"><%= record['status'] %></td>
        <td>
          <table style="width: 100%; text-align: center; border-style: none;">
            <tr>

            </tr>
          </table>
        </td>
      </tr>
    <%end%>
  <tbody>
  </tbody>
</table>
</div>
<%= render :partial => "/dc/scroll" %>
</div>

<button class="red btn btn-danger pull-right" style="width: 80px; float: right; margin-right: 40px; margin-top: 10px; cursor: pointer;
        padding: 6px; "
        onmousedown="window.location = '/' ">
  <b>Finish</b>
</button>


<div class="modal fade" id="verify_by_scanning" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <h3 style="padding-left:100px;">Scan Barcode to Verify Certificates</h3>

        <br />
        <input id="barcode" name="barcode" class="barcode" type="text"
               style="margin-left: 100px; height: 50px;width: 350px;font-size: 20px; font-weight: bold; margin-bottom: 25px;" />
        <div class="modal-footer">
          <button id="scan_close" type="button" class="btn btn-sm btn-default pull-left" onclick="jQuery('#verify_by_scanning').modal('hide'); initTable();" > Close </button>
          <button id="scan_search" type="button" class="btn btn-sm btn-primary pull-right" onclick="manualSearch()" > Search </button>

        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="comments" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          <h5>Are you sure you want to dispatch <span id="dispatch-count"></span> certificate(s)</h5>
          <div class="modal-footer">
            <button id="comment_close" type="button" class="btn btn-sm btn-default pull-left" onclick="jQuery('#comments').modal('hide')" > Cancel </button>
            <button type="button" class="btn btn-sm btn-primary pull-right" onclick="dispatchAll();" > Dispatch </button>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="print_filters" tabindex="-1" role="dialog" aria-hidden="true" style="width:900px; margin: auto;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"style="background: #006f95 none repeat scroll 0 0;padding: 12px;" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Informant Village Filtering</h4>
      </div>

      <div class="modal-body" style="font-size: 1em;">
        <label style="width:150px;font-weight: bold;">Informant District:</label>
        <select name="informant_district" style="width: 160px;" onchange="filter_ta()"
                id="informant_district">
            <option value="">Informant District</option>
          <% @districts.each do |id, name|%>
              <option value="<%=name%>"><%=name%></option>
          <% end %>
        </select> <br /><br />

        <label style="width:150px;font-weight: bold;">Informant TA:</label>
        <select name="informant_ta" style="width: 160px;" onchange="filter_village()"
                id="informant_ta">
          <option value="">Informant TA</option>
        </select>  <br /><br />

        <label style="width:150px;font-weight: bold;">Informant Village:</label>
        <select name="informant_village" style="width: 160px;"
                id="informant_village">
          <option value="">Informant Village</option>
        </select>  <br /><br />
      </div>

        <div class="modal-footer">
          <button id="scan_close" type="button" class="btn btn-sm btn-default pull-left"
                  onmousedown="jQuery('#print_filters').modal('hide')" > Close </button>
          <label id="processing_wait" style="color: red; font-weight: bold; font-size: 1.5em; margin-right: 20%;"> <blink>Processing .. Please wait</blink></label>
          <button id="scan_search" type="button" class="btn btn-primary pull-right" onclick="applyFilters()"> Apply Filter </button>
        </div>

    </div>
  </div>
</div>



<div class="modal fade" id="printerModal" tabindex="-1" style="z-index:6000" role="dialog" aria-labelledby="printerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: #006f95 none repeat scroll 0 0;padding: 12px;" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="printerModalLabel" style="text-align: left;">
          Print Actions
        </h4>
      </div>
      <div class="modal-body">
        <span style="text-align:center;">
          <table align="center" id="printers">
          <tr>
            <td><h4>Select printer</h4></td>
          </tr>
            <%
               @available_printers = SETTINGS["printer_name"].split('|')
               @available_printers.each do |printer| %>
                <tr onmousedown="updateValue(this)" value="<%= printer %>">
                  <td><input type="radio" class="printer_radio_button" value="<%= printer %>" name="printer_name"/></td>
                  <td style="text-align: left; padding-left:50px;"><%= printer %></td>
                </tr>
            <% end %>

            <tr>
              <td><h4>Action</h4></td>
            </tr>
            <tr>
              <td><input type="radio" id="print"  value="Print" name="print_action" checked="true"/></td>
              <td>Print</td>
            </tr>
            <tr>
              <td><input type="radio" id="print_and_dispatch" value="Print and Dispatch" name="print_action" /></td>
              <td>Print and Dispatch</td>
            </tr>
          </table>
          <br/>
        </span>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="submitForm();">Okay</button>
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="printerModal2" tabindex="-1" role="dialog" aria-labelledby="printerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: #006f95 none repeat scroll 0 0;padding: 12px;" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="printerModalLabel" style="text-align: left;">
          Select Printer for Certificate(s) list
        </h4>
      </div>
      <div class="modal-body">
        <span style="text-align:center;">
          <table align="center" id="printers">
            <%
               @available_printers = SETTINGS["printer_name"].split('|')
               @available_printers.each do |printer| %>
                <tr onmousedown="updateValue(this)" value="<%= printer %>">
                  <td><input type="radio" class="printer_radio_button" value="<%= printer %>" name="printer_name"/></td>
                  <td style="text-align: left; padding-left:50px;"><%= printer %></td>
                </tr>
            <% end %>
          </table>
        </span>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="dispatchAll();">Dispatch</button>
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="verification" tabindex="-1" role="dialog" aria-labelledby="verificationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="verification-content">
      <div class="modal-header" style="background: #006f95 none repeat scroll 0 0;padding: 12px;" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="verificationModalLabel" style="text-align: left;">
          Certificate Verification
        </h4>
        <div id="success" class="alert alert-success pull-right">
          <strong>Success! Record Sent to Re-Print Queue!!</strong>
        </div>
      </div>
      <div class="modal-body">
        <span style="text-align:center;">
          <table style="width: 100%;">
            <tr>
                  <td style="width: 50%;">
              <table style="width: 100%;" align="center" id="verificationTable">
                    <tr>
                      <td class="labeel">National ID</td>
                      <td id="nid">&nbsp;</td>
                    </tr>

                    <tr>
                      <td class="labeel">Registration Number</td>
                      <td id="brn">&nbsp;</td>
                    </tr>

                    <tr>
                      <td class="labeel">Birth Entry Number</td>
                      <td id="ben">&nbsp;</td>
                    </tr>

                    <tr>
                        <td class="labeel">Name</td>
                        <td id="name">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="labeel">Sex</td>
                      <td id="sex">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="labeel">Date Of Birth</td>
                      <td id="dob">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="labeel">Place of Birth</td>
                      <td id="place">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="labeel">Name of Mother</td>
                      <td id="mother_name">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="labeel">Name of Father</td>
                      <td id="father_name">&nbsp;</td>
                    </tr>
              </table>
              </td>

              <td style="width: 50%;">
                <div class="field">
                  <label for="verdict"><h4><b>Does certificate meet quality metrics?</b></h4></label><br>
                  <select
                  style="width: 320px;font-size: 20px;padding: 7px;font-weight: bold; font-color: darkslategray;margin-bottom: 25px;background: ghostwhite;"
                  id="verdict" name="verdict" class="input_cell" onchange="enableReason()">
                    <option></option>
                    <option value="Yes" >Yes</option>
                    <option value="No" >No</option>
                  </select>
                </div>

                <div class="field">
                  <label for="reason"><h4><b>Explanation for rejected certificate</b></h4></label><br>
                  <select disabled="disabled"
                    style="width: 320px; font-size: 20px;padding: 7px;font-color: darkslategray; background: ghostwhite;font-weight: bold;"
                    id="reason" name="reason" class="input_cell" condition="__$('textForverdict').value.trim() == 'No' " >
                    <option></option>
                    <option value="blurred print out" >Blurred print out</option>
                    <option value="distorted characters" >Distorted characters</option>
                    <option value="wrinkles or creases" >Wrinkles or creases</option>
                    <option value="skewed page" >Skewed page</option>
                    <option value="unwanted ink dots" >Unwanted ink dots</option>
                    <option value="other" >Other</option>
                  </select>
                </div>

              </td>
              </tr>
              </table>
        </span>
        <div class="modal-footer">
          <button type="button" id="ajax-verification-save" class="btn btn-primary" onclick="ajaxSaveVerification()">Save</button>
          <button type="button" class="btn btn-default pull-left" onclick="window.location = window.location ">close</button>
        </div>
      </div>
    </div>
  </div>
</div>



<table id="roll-options">
  <tr>
    <td id="p_h_1" style="width: 40%">

    </td>

    <td>
      <select id="category" label="Category" onchange="reloadDataTable(this)"
              style="color: #2f4f4f;border-radius: 3px;padding: 5px;font-weight: bold;margin: 5px;">
        <option id="continuous" value = "continuous" >Continuous Registration</option>
        <option id="mass_data" value = "mass_data" >Mass Data</option>
        <option id="community_data" value = "community_data" >Community Data</option>
        <option value="All">All Categories</option>
      </select>
    </td>

    <td>
      <select id="facility" label="facility" onchange="reloadDataTable(this)"
              style="color: #2f4f4f;border-radius: 3px;padding: 5px;font-weight: bold;margin: 5px;">

        <option id="All2" value="All">Select Birth Facility</option>
        <% (@facilities).each do |id, name|%>
            <option id="<%= id%>" value = "<%= id%>"><%= name%></option>
        <% end %>
      </select>
    </td>
    <td>
      <button class="btn btn-primary"  style="border-radius: 5px;" onclick="__$('processing_wait').style.display = 'none'; jQuery('#print_filters').modal('show')">
        Filter By Address of Informant
      </button>
    </td>          
    <td id="p_h_2">

    </td>
  </tr>
</table>

<select  style="display: none;color: #2f4f4f" id="birth_type" label="Birth Type" onchange="reloadDataTable(this)">
  <option value="All">Select Category</option>
  <option id="nid" >From NID</option>
  <option id="normal">Normal</option>
  <option id="abandoned">Abandoned</option>
  <option id="adopted">Adopted</option>
  <option id="orphaned">Orphaned</option>
</select>

<form id="selected-submit" method="post">
</form>
<script>
    selected = [];
    var table;
    var url = "<%= request.url%>";

    <% if !@birth_type.blank? %>
        jQuery("#birth_type").find("#" + '<%= @birth_type.downcase%>').prop('selected', true);
        jQuery("#birth_type").prop('disabled', true);
    <% end %>

    <% if !session[:district].blank?%>
        jQuery("#districts").find("#" + '<%= session[:district]%>').prop('selected', true);
    <% end %>

    <% if !session[:category].blank?%>
        jQuery("#category").find("#" + '<%= session[:category]%>').prop('selected', true);
    <% else %>
        jQuery("#category").find("#continuous").prop('selected', true);
    <% end %>

    <% if !session[:facility_id].blank? %>
        jQuery("#facility").find("#" + '<%= session[:facility_id]%>').prop('selected', true);
    <% else %>
        jQuery("#facility").find("#All2").prop('selected', true);
    <% end %>

    var type;
    $i(document).ready(function() {

        <% if params[:birth_type] != 'All Special Cases'%>
            type = __$('birth_type').value;
        <% else %>
            type = "All Special Cases"
        <% end %>

        <% if User.current.user_role.role.role != "Quality Supervisor" %>
            initTable();
        <% end %>

        var holder = __$('example_filter').parentNode;
        holder.appendChild(__$('birth_type'));
        holder.appendChild(__$('roll-options'));
        __$("p_h_2").appendChild(__$('example_filter'))
        __$("p_h_1").appendChild(__$('example_length'))

        holder.style.width = "100%";

    } );

    function filter_ta(){

        jQuery.ajax({
            url: "/search_by_ta?district=" + __$("informant_district").value,
            success: function(data){
                data = data.split("\n");
                jQuery("#informant_ta").empty();
                jQuery("#informant_village").empty();


                var option       = document.createElement("option");
                option.innerHTML = "";
                document.getElementById("informant_ta").appendChild(option);

                for(var i = 0; i < data.length; i++){
                    var option       = document.createElement("option");
                    option.innerHTML = data[i].trim();
                    document.getElementById("informant_ta").appendChild(option);
                }
            }
        })
    }

    function filter_village(){
        __$("informant_village").value = "";

        jQuery.ajax({
            url: "/search_by_village?district=" + __$("informant_district").value + "&ta=" + __$("informant_ta").value,
            success: function(data){
                data = data.split("\n");
                jQuery("#informant_village").empty();

                var option       = document.createElement("option");
                option.innerHTML = "";
                document.getElementById("informant_village").appendChild(option);

                for(var i = 0; i < data.length; i++){
                    var option       = document.createElement("option");
                    option.innerHTML = data[i].trim();
                    document.getElementById("informant_village").appendChild(option);
                }
            }
        })
    }

    function initTable(){

        table =  $i('#example').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ordering": false,
                    "lengthMenu": [ 10, 50, 100, 500,1000,5000,10000 ],
                    "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                        jQuery('td .action-btn', nRow).parent().parent().css('background', 'white');
                    },
                    "ajax": {
                        "url": url,
                        "data": function(d){
                            for (var i = 0, len = d.columns.length; i < len; i++) {
                              if (! d.columns[i].search.value) delete d.columns[i].search;
                              if (d.columns[i].searchable === true) delete d.columns[i].searchable;
                              if (d.columns[i].orderable === true) delete d.columns[i].orderable;
                              if (d.columns[i].data === d.columns[i].name) delete d.columns[i].name;
                            }
                            delete d.search.regex
                            d.type = type;
                            d.category = __$('category').value;
                            d.facility_id = __$('facility').value;
                            d.informant_district = __$('informant_district').value;
                            d.informant_ta = __$('informant_ta').value;
                            d.informant_village = __$('informant_village').value;
                        },
                        dataFilter: function(data){
                            var json = jQuery.parseJSON( data );
                            for(var i = 0; i < json['data'].length; i ++){

                                var last_index = json['data'][i].length - 1;
                                var person_id = json['data'][i][last_index];

                                var clas = "nonid";

                                json['data'][i][last_index] =   '<td> ' +
                                        '<button onclick="javascript:location=\'/person/' + person_id + '?bs_layout=true \'"     ' +

                                        ' class="action-btn btn btn-success btn-xs ' + clas + '"><i class="fa fa-eye"></i></button></td>';

                                json['data'][i][last_index] += '<td class="act-btn"><div class="checkbox">' +
                                    '<label><input class=\'multi-check\' person_id = "' + person_id +  '" onchange="checkSelections();" type="checkbox" value=""></label> </div></td>';

                            }
                            return JSON.stringify( json );
                        }
                    }}
        );
    }

    function reloadDataTable(node){
        type = __$('birth_type').value;
        if(__$('category').value == 'community_data'){

            var district = __$('informant_district').value;
            var ta =     __$('informant_ta').value;
            var village = __$('informant_village').value;

            if(district == "" || ta == "" || village == ""){
                alert("Missing filter, please select village of registration");
                __$("filter_name").innerHTML = "";
            }else {
                __$("filter_name").innerHTML = village + ", " + ta;
                table.ajax.reload();
            }
        }else{
            table.ajax.reload();
        }
    }

    function selectBadge(name){
        type = name;
        __$("birth_type").value = name;
        table.ajax.reload();
    }

    function applyFilters(){

        var district = __$('informant_district').value;
        var ta =     __$('informant_ta').value;
        var village = __$('informant_village').value;

        if(district == "" || ta == "" || village == ""){
            alert("Missing filter, please select village of registration");
            __$("filter_name").innerHTML = "";
        }else {
            __$("filter_name").innerHTML = village + ", " + ta;
        }

        __$("processing_wait").style.display = 'inline-block';
        table.ajax.reload();
        jQuery('#print_filters').modal('hide')
        //reloadDataTable();
    }

    function printAll() {

        var district = __$('informant_district').value;
        var ta =     __$('informant_ta').value;
        var village = __$('informant_village').value;

        if(__$('category').value == 'community_data' && (district == "" || ta == "" || village == "")){
            alert("Missing filter, please select village of registration");
            __$("filter_name").innerHTML = "";
            return;
        }else {
            __$("filter_name").innerHTML = village + ", " + ta;
        }

        jQuery("#printerModal").modal("show");
        //Check for barcode availability before printing
        //jQuery.ajax({
        //    url: "/check_print_rules?person_ids=" + selected.join(','),
        //    success: function(res){
        //        if(res == "OK"){
        //            jQuery("#printerModal").modal("show");
        //        }else{
        //            alert("Missing printing requirements for some records");
        //        }
        //    }
        //})
    }

    function dispatchAll(){
        if(printer_name.length == 0){
            alert("Please select printer!");
            return;
        }
        var form = __$('selected-submit')
        form.setAttribute("action", "/dispatch_certificates");
        for(var i = 0; i <selected.length; i++){
            var input = document.createElement("input")
            input.name = "person_ids[]";
            input.value = selected[i];
            form.appendChild(input);
        }

        var input = document.createElement("input")
        input.name = "printer_name";
        input.value =  printer_name;
        form.appendChild(input);

        var input = document.createElement("input")
        input.name = "dispatch_action";
        input.value =  "download";
        form.appendChild(input);

        form.submit();
        //window.location = "/dispatch_certificates?person_ids=" +  selected.join(',') + "&printer_name=" + printer_name+"&dispatch_action=download";
    }

    function checkSelections(){
        var nodes = document.getElementsByClassName('multi-check');
        selected = [];
        for(var i = 0; i < nodes.length; i ++){
            if(nodes[i].checked){
                selected.push(nodes[i].getAttribute('person_id'));
            }
        }

        var states = "<%= @states.join(',') %>".split(",");

        var action = "print";

        if(states.includes("DC-PRINTED") || states.includes("HQ-PRINTED")){
          action = "dispatch";
        }

        if(selected.length > 0){
            if (__$('print-all') && action == "print"){
                jQuery('#print-all').show()
            }
            if (__$('dispatch-all') && action == "dispatch" ){
                jQuery('#dispatch-all').show()
            }
        }else{
            if (__$('print-all')){
                jQuery('#print-all').hide()
            }
            if (__$('dispatch-all')){
                jQuery('#dispatch-all').hide()
            }
        }
    }

    function selectAll(){
        if(__$('select-all').checked){
            jQuery(".multi-check").prop('checked', true);
        }else{
            jQuery(".multi-check").prop('checked', false);
        }
        checkSelections();
    }

    printer_name = ""

    function updateValue(obj){
        printer_name = obj.getAttribute('value');
    }

    function submitForm(){
        var action = ""


        if (printer_name.length == 0){
            alert("Please select a printer");
        }else {
            var form = __$('selected-submit')
            form.setAttribute("action", "/print");
            for(var i = 0; i <selected.length; i++){
                var input = document.createElement("input")
                input.name = "person_ids[]";
                input.value = selected[i];
                form.appendChild(input);
            }
    
            var input = document.createElement("input")
            input.name = "printer_name";
            input.value =  printer_name;
            form.appendChild(input);
    
            if(__$("print").checked){
              var input = document.createElement("input")
              input.name = "print_action";
              input.value =  "Print";
              form.appendChild(input);
            }
      
            if(__$("print_and_dispatch").checked){
              var input = document.createElement("input")
              input.name = "print_action";
              input.value =  "Print and Dispatch";
              form.appendChild(input);
            }
    
            form.submit();
            //window.location = "/print?person_ids=" + selected.join(',') + "&printer_name=" + printer_name+action;
        }
    }

    function barcodeFocus(){
        if (scanning == true) {
            jQuery("#barcode").focus();
        }

        var barcode = __$("barcode").value;
        if (barcode.match(/\$$/)){
            var barcodeString = barcode.replace(/\$$/, "");
            __$("barcode").value = "";
            jQuery.ajax({
                url: "/person/check_details?certificate_serial_number=" + barcodeString,
                success: function(result){
                    var person_id = JSON.parse(result);
                    if (person_id == null){
                        alert("Record Not Found Or Record Status Not 'HQ-PRINTED'!!")
                    }else{
                        popReasons(person_id);
                    }
                },
                error: function(error){
                    alert("Not Found")
                }
            })
        }

        setTimeout(function(){
            barcodeFocus();
        }, 250);
    }

    function manualSearch(){
        jQuery("#barcode").focus();
        var barcode = __$("barcode").value;
        var barcodeString = barcode.replace(/\$$/g, "");
        __$("barcode").value = "";
        jQuery.ajax({
            url: "/person/check_details?certificate_serial_number=" + barcodeString,
            success: function(result){
                var person_id = JSON.parse(result);
                console.log(person_id)
                if (person_id == null){
                    alert("Record Not Found Or Record Status Not 'HQ-PRINTED' !! ")
                }else{
                    popReasons(person_id);
                }
            },
            error: function(error){
                alert("Not Found")
            }
        })

        setTimeout(function(){
            barcodeFocus();
        }, 250);
    }

    function enableReason(){
        __$("reason").value  = "";

        if (__$("verdict").value.trim() == "Yes") {
            __$("reason").setAttribute("disabled", "disabled")
        }else{
            __$("reason").removeAttribute("disabled")
        }
    }

    var scanning = true;
    var globalPersonId = null;

    function popReasons(person_id){
        jQuery('#success').hide();

        scanning = false;
        __$("verdict").value = "";
        __$("reason").value  = "";

        jQuery.ajax({
            url: "/person/query_person_details?person_id=" + person_id,
            success: function(data){
                data = JSON.parse(data);
                console.log(data);
                for(var k in data){
                    __$(k).innerHTML = data[k];
                }

                globalPersonId = person_id;
                jQuery("#verification").modal("show");
            },
            error: function(error){
                alert("Could Not Get Details of Person!!");
            }
        })
    }

    function ajaxSaveVerification(){

            if (__$("verdict").value.trim() == ""){
                alert("Select if Certificate Meet Quality Metrics!!");
                return;
            }

            if (__$("verdict").value.trim() == "No" && __$("reason").value.trim() == ""){
                alert("Select Reason For Rejected Certificate!!");
                return;
            }

        jQuery.ajax({
            url: "/person/certificate_verification",
            method: "POST",
            data: {
                person_id: globalPersonId,
                verdict: __$("verdict").value,
                reason: __$("reason").value
            },
            success: function(result){
                if (result == "OK" && __$("verdict").value.trim() == "No") {
                    jQuery('#success').show();
                    setTimeout(function(){
                        jQuery("#verification").modal("hide");
                    }, 1500);

                }else{
                    jQuery('#success').hide();
                    jQuery("#verification").modal("hide");
                }

                console.log(result);
            },
            error: function(error){
                console.log(error);
            }
        })
    }

    checkSelections();

    <% if !@online %>
        var interval = setInterval(function() {
            jQuery("input:checkbox").attr("disabled", true);
        }, 250);
    <% end %>

  </script>

<style>
  .action-btn, .act-btn{
    border: none !important;
  }
</style>
