<style>
    fieldset {
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #3465a4;
        padding: 20px;
    }

    legend {
        font-size: 18px;
        font-weight: normal;
        color: #3465a4;
    }

    div.field {
        font-weight: normal;
        display: inline-block;
        margin: 10px;
        color: #000;
    }

    select {
        min-width: 100%;
    }
    
    
    
    /*input {
        min-width: 100%;
    }*/
</style>

<%= form_for :child, url: {action: "update_child", params: {id: @child.id, field: @field}} do |f| %>
    <% unless params[:next_path].blank? %>
      <input type="hidden" name="next_path" id="next_path" value="<%= params[:next_path] %>">
   <% end %>
    <% if params[:amend].present? && params[:amend]=="true" %>
          <input type="hidden" name="amend" value="<%=params[:amend]%>">
      <%end %>
    <%= f.hidden_field :_rev  %>
    <% if @child.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

          <ul>
            <% @child.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% if ["child_first_name","child_last_name","child_middle_name"].include? @field %>
    <fieldset>


      <legend>Details of Child</legend>

      
      <% if params[:amend].present? && params[:amend]=="true" %>

          <input type="hidden" name="old_last_name" value="<%=@child.last_name%>">
          <input type="hidden" name="old_first_name" value="<%=@child.first_name%>">
           <input type="hidden" name="old_middle_name" value="<%=@child.middle_name%>">
      <%end %>
      <div class="field">
        <label for="child_last_name">Surname</label>
        <br>
        <%= (f.text_field :last_name, :ajaxURL => "/get_last_names", :class => "input_cell")  %>
      </div>
      <div class="field">
        <%= f.label :first_name %>
        <br>
        <%= (f.text_field :first_name, :ajaxURL => "/get_first_names", :class => "input_cell") %>
      </div>
      <div class="field">
        <label for="child_middle_name">Other Names</label>
        <br>
        <%= (f.text_field :middle_name, :class => "input_cell", :ajaxURL => "/get_first_names", :optional => :true) %>
      </div>
     
    </fieldset>
<% elsif ["child_birthdate","child_gender"].include? @field  %>
    <fieldset>
      <legend>Details of Child (cont'd)</legend>


      <div class="field">
        <label for="child_birthdate">Date of Birth</label>
        <br>
        
        <% if @child.relationship.downcase == "normal" %>
        		 <%= (f.text_field :birthdate, 
                          :class => "input_cell", 
                          :fieldtype => "date",
                          :absolute_min => (@child[:mother][:birthdate].to_date.advance(:years => 8).strftime('%Y/%m/%d')  ),
                          :min => (@child[:mother][:birthdate].to_date.advance(:years => 14).strftime('%Y/%m/%d')  ),
                          :max => ((@child[:mother][:birthdate].to_date.advance(:years => 45) > Date.today.to_date ? '' :  @child[:mother][:birthdate].to_date.advance(:years => 45).strftime('%Y/%m/%d')) ),
                          :absolute_max => ((@child[:mother][:birthdate].to_date.advance(:years => 60) > Date.today.to_date ? Date.today.strftime('%Y/%m/%d') :  @child[:mother][:birthdate].to_date.advance(:years => 60).strftime('%Y/%m/%d'))  ) ) %>
        
        <% else %>
        			 <%= (f.text_field :birthdate, 
                          :class => "input_cell", 
                          :fieldtype => "date",
                          :absolute_min => 8.years.ago.strftime('%Y/%m/%d'),
                          :min => 14.years.ago.strftime('%Y/%m/%d'),
                          :max => Date.today.to_date.strftime('%Y/%m/%d'),
                          :absolute_max => Date.today.strftime('%Y/%m/%d') 
                          ) %>
        
        <% end %>
        
       

        <%= f.hidden_field :birthdate_estimated  %>

      </div>
      <div class="field">
        <label for="child_gender">Sex</label><br>
        <select id="child_gender" name="child[gender]" class="input_cell">
          <option></option>
          <option <%= ((@child[:gender] rescue nil) == "Female" ? "selected" : "") %> >Female</option>
          <option <%= ((@child[:gender] rescue nil) == "Male" ? "selected" : "") %> >Male</option>
        </select>
      </div>
      <!--Amendment Fileds -->
        <% if params[:amend].present? && params[:amend]=="true" %>

          <input type="hidden" name="old_birthdate" value="<%=@child.birthdate%>">
          <input type="hidden" name="old_gender" value="<%=@child.gender%>">
      <%end %>
    </fieldset>
<% elsif ["child_place_of_birth","child_hospital_of_birth","child_birth_address","child_birth_district","child_birth_ta","child_birth_village","child_other_birth_place_details"].include? @field  %>
    <fieldset>
      <legend>Details of Child (cont'd)</legend>

      <div class="field">
        <label for="child_place_of_birth">Place of birth</label><br>
        <select id="child_place_of_birth" name="child[place_of_birth]" class="input_cell" onchange="loadHealthFacility();">
          <option></option>
          <option <%= ((@child[:place_of_birth] rescue nil) == "Home" ? "selected" : "") %> >Home</option>
           <option <%= ((@child[:place_of_birth] rescue nil) == "Hospital" ? "selected" : "") %> >Hospital</option>
          <option <%= ((@child[:place_of_birth] rescue nil) == "Other" ? "selected" : "") %> >Other</option>
        </select>
      </div>
      <div class="field">
        <label for="child_hospital_of_birth">Name of Hospital</label>
        <br>
        <%= (f.text_field :hospital_of_birth, :class => "input_cell", :condition => "__$('child_place_of_birth').value.trim().toLowerCase() == 'hospital'", :ajaxURL => "/search_by_hospital") %>
      </div>
      <div class="field">
        <label for="child_birth_address">Address</label>
        <br>
        <%= (f.text_field :birth_address, :class => "input_cell", :condition => "__$('child_place_of_birth').value.trim().toLowerCase() == 'home'") %>
      </div>
      <div class="field">
        <label for="child_birth_district">District</label>
        <br>
        <%= (f.text_field :birth_district, :class => "input_cell"  )  %>
      </div>
      <div class="field">
        <label for="child_birth_ta">T/A</label>
        <br>
        <%= (f.text_field :birth_ta, :class => "input_cell", :condition => "__$('child_place_of_birth').value.trim().toLowerCase() == 'home'", :ajaxURL => "/search_by_ta",
                          :tt_onUnload => "navigablefieldsets[parseInt(__$('textForchild_birth_village').getAttribute('section'))][parseInt(__$('textForchild_birth_village').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_village?district=' + __$('textForchild_birth_district').value + '&ta=' + __$('textForchild_birth_ta').value);") %>
      </div>
      <div class="field">
        <label for="child_birth_village">Village</label>
        <br>
        <%= (f.text_field :birth_village, :class => "input_cell", :condition => "__$('child_place_of_birth').value.trim().toLowerCase() == 'home'", :ajaxURL => "/search_by_village") %>
      </div>
      <div class="field">
        <label for="child_other_birth_place_details">Give Details</label>
        <br>
        <%= (f.text_field :other_birth_place_details, :class => "input_cell", :condition => "__$('child_place_of_birth').value.trim().toLowerCase() == 'other'")  %>
      </div>

      <% if params[:amend].present? && params[:amend]=="true" %>

          <input type="hidden" name="old_place_of_birth" value="<%=@child.place_of_birth%>">
          <input type="hidden" name="old_hospital_of_birth" value="<%=@child.hospital_of_birth%>">
          <input type="hidden" name="old_birth_address" value="<%=@child.birth_address%>">
          <input type="hidden" name="old_birth_district" value="<%=@child.birth_district%>">
          <input type="hidden" name="old_birth_ta" value="<%=@child.birth_ta%>">
          <input type="hidden" name="old_birth_village" value="<%=@child.birth_village%>">
          <input type="hidden" name="old_other_birth_place_details" value="<%=@child.other_birth_place_details%>">
      <%end %>
    </fieldset>
<% elsif ["child_birth_weight","child_type_of_birth","child_other_type_of_birth","child_parents_married_to_each_other","child_date_of_marriage" ].include? @field  %>
    <fieldset>
      <legend>Details of Child (cont'd)</legend>

      <div class="field">
        <label for="child_birth_weight">Birth weight (in Kilogrammes)</label>
        <br>
        <%= (f.text_field :birth_weight, :value => "", :placeholder => "0.000", :class => "input_cell", :fieldtype => "decimal",
                          :regex => '^\d+\.\d{3}$', :regex_message => "Expecting baby weight to have 3 decimal places.\nAppend zero(s) for you?",
                          :absolute_min => 1 , :absolute_max => 6, :max => 4, :min => 2.5, :optional => true) %>
      </div>
      <div class="field">
        <%= f.label :type_of_birth %>
        <br>
        <select id="child_type_of_birth" name="child[type_of_birth]" class="input_cell" optional="true">
          <option></option>
          <option <%= ((@child[:type_of_birth] rescue nil) == "Single" ? "selected" : "") %> >Single</option>

          <option <%= ((@child[:type_of_birth] rescue nil) == "Twin" ? "selected" : "") %> >Twin</option>
          <option <%= ((@child[:type_of_birth] rescue nil) == "Second Twin" ? "selected" : "") %> >Second Twin</option>

          <option <%= ((@child[:type_of_birth] rescue nil) == "Triplet" ? "selected" : "") %> >Triplet</option>
          <option <%= ((@child[:type_of_birth] rescue nil) == "Second Triplet" ? "selected" : "") %> >Second Triplet</option>
          <option <%= ((@child[:type_of_birth] rescue nil) == "Third Triplet" ? "selected" : "") %> >Third Triplet</option>

          <option <%= ((@child[:type_of_birth] rescue nil) == "Other" ? "selected" : "") %> >Other</option>
        </select>
      </div>
      <div class="field">
        <label for="child_other_type_of_birth">Specify Other Type of Birth</label>
        <br>
        <%= (f.text_field :other_type_of_birth, :class => "input_cell", :condition => "__$('child_type_of_birth').value.trim() == 'Other'",:optional=>true)  %>
      </div>

      <div class="field">
        <label for="child_parents_married_to_each_other">Are the parents married to each other?</label>
        <br>
        <select id="child_parents_married_to_each_other" name="child[parents_married_to_each_other]" class="input_cell" optional="true">
          <option></option>
          <option <%= ((@child[:parents_married_to_each_other] rescue nil) == "Yes" ? "selected" : "") %> >Yes</option>
          <option <%= ((@child[:parents_married_to_each_other] rescue nil) == "No" ? "selected" : "") %> >No</option>
        </select>
      </div>
      <div class="field">
        <label for="child_date_of_marriage">If yes, date of marriage</label>
        <br>
        <%= (f.text_field :date_of_marriage, 
                          :class => "input_cell",
			  :condition => "__$('child_parents_married_to_each_other').value.trim() == 'Yes'", 
			  :fieldtype => "date", 
			  :optional => true,
			  :absolute_min => Time.now.advance(:years => -100).strftime('%Y/%m/%d'),
			  :absolute_max => Date.today.strftime('%Y/%m/%d') ) %>
      </div>


    </fieldset>
<% elsif ["child_court_order_attached","child_parents_signed" ].include? @field  %>
 
    <fieldset condition="__$('child_parents_married_to_each_other').value.trim() == 'No'">
      <legend>Acknowledgment of Paternity: Child born out of wedlock</legend>

      <div class="field">
        <label for="child_court_order_attached">Court order attached?</label><br>
        <select id="child_court_order_attached" name="child[court_order_attached]" class="input_cell">
          <option></option>
          <option  <%= ((@child[court_order_attached] rescue nil) == "Yes" ? "selected" : "") %> >Yes</option>
          <option  <%= ((@child[court_order_attached] rescue nil) == "No" ? "selected" : "") %> >No</option>
        </select>
      </div>

      <div class="field">
        <label for="child_parents_signed">Parents signed?</label>
        <br>
        <select id="child_parents_signed" name="child[parents_signed]" class="input_cell" >
          <option></option>
          <option <%= ((@child[parents_signed] rescue nil) == "Yes" ? "selected" : "") %> >Yes</option>
          <option <%= ((@child[parents_signed] rescue nil) == "No" ? "selected" : "") %> >No</option>
        </select>
        
      </div>

    </fieldset>

   <% elsif ["child_mother_last_name","child_mother_first_name", "child_mother_middle_name", "child_mother_id_number" ].include? @field  %>

    <fieldset>
      <legend>Details of Child's Mother</legend>
      <% if params[:amend].present? && params[:amend]=="true" %>

          <input type="hidden" name="old_mother_last_name" value="<%=@child[:mother][:last_name]%>">
          <input type="hidden" name="old_mother_first_name" value="<%=@child[:mother][:first_name]%>">
          <input type="hidden" name="old_mother_middle" value="<%=@child[:mother][:middle_name]%>">
      <%end %>
      <div class="field">
        <label for="child_mother_last_name">Maiden Surname</label><br>
        <input id="child_mother_last_name" 
               name="child[mother][last_name]" 
               type="text" 
               ajaxURL = "/get_last_names" 
               value="<%= @child[:mother][:last_name].titleize rescue nil %>" 
               class="input_cell"/>
      </div>

      <div class="field">
        <label for="child_mother_first_name">First Name</label><br>
        <input id="child_mother_first_name" 
               name="child[mother][first_name]" 
               type="text" 
               ajaxURL = "/get_first_names" 
               value="<%= @child[:mother][:first_name].titleize rescue nil %>" 
               class="input_cell"/>
      </div>

      <div class="field">
        <label for="child_mother_middle_name">Other Name</label><br>
        <input id="child_mother_middle_name" 
               name="child[mother][middle_name]" 
               type="text" 
               ajaxURL = "/get_first_names" 
               value="<%= @child[:mother][:middle_name].titleize rescue nil %>" 
               class="input_cell" 
               optional="true"/>
      </div>

      <div class="field">
        <label for="child_mother_id_number">ID Number</label><br>
        <input id="child_mother_id_number" name="child[mother][id_number]" type="text" value="<%= @child[:mother][:id_number] rescue nil %>"
               class="input_cell" optional="true" />

      </div>

    </fieldset>
<% elsif ["child_mother_birthdate","child_mother_citizenship"].include? @field  %>
      
        <%= f.hidden_field :birthdate  %>

        <fieldset>
      <legend>Details of Child's Mother (cont'd)</legend>

      <div class="field">
        <label for="child_mother_birthdate">Date of Birth</label>
        <br>
        
        <input id="child_mother_birthdate" name="child[mother][birthdate]" type="text" value="<%= @child[:mother][:birthdate] rescue nil %>" 
                class="input_cell"       
                optional="true" 
                fieldtype="date"
                tt_onLoad="validateDate('<%= @child.birthdate rescue nil %>', __$('child_mother_birthdate'), 45, 14, 60, 8)" />
         
        <input id="child_mother_birthdate_estimated" name="child[mother][birthdate_estimated]" type="hidden"/>


      </div>

      <div class="field">
        <label for="child_mother_citizenship">Nationality</label><br>
        <input id="child_mother_citizenship" name="child[mother][citizenship]" type="text" value="<%= @child[:mother][:citizenship] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_nationality" optional="true"/>
      </div>

    </fieldset>
    
<% elsif ["child_mother_current_district","child_mother_current_ta", "child_mother_current_village"].include? @field  %>

    <fieldset>
      <legend>Details of Child's Mother (cont'd) - Physical residential address</legend>

      <div class="field">
        <label for="child_mother_current_district">District</label><br>
        <input id="child_mother_current_district" name="child[mother][current_district]" type="text" value="<%= @child[:mother][:current_district] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_district"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_mother_current_ta').getAttribute('section'))][parseInt(__$('textForchild_mother_current_ta').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_ta?district=' + __$('textForchild_mother_current_district').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_mother_current_ta">T/A or Area of Residence</label><br>
        <input id="child_mother_current_ta" name="child[mother][current_ta]" type="text" value="<%= @child[:mother][:current_ta] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_ta"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_mother_current_village').getAttribute('section'))][parseInt(__$('textForchild_mother_current_village').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_village?district=' + __$('textForchild_mother_current_district').value + '&ta=' + __$('textForchild_mother_current_ta').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_mother_current_village">Village/Town</label><br>
        <input id="child_mother_current_village" name="child[mother][current_village]" type="text" value="<%= @child[:mother][:current_village] rescue nil %>"
               class="input_cell" 
	      ajaxURL="/search_by_village" optional="true"/>
      </div>

    </fieldset>
    
  <% elsif ["child_mother_residential_country","child_mother_foreigner_current_district", "child_mother_foreigner_current_village", "child_mother_foreigner_current_ta"].include? @field  %>

     <fieldset>

      <legend>Details of Child's Mother (cont'd) - Physical residential address</legend>
      

       <div class="field">
        <label for="child_mother_residential_country">Country</label><br>
        <input id="child_mother_residential_country" name="child[mother][residential_country]" type="text" 
               value="<%= @child[:mother][:residential_country] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_country"
               optional="true"/>
      </div>
       
      <div class="field">
        <label for="child_mother_foreigner_current_district">District/State</label><br>
        <input id="child_mother_foreigner_current_district" name="child[mother][foreigner_current_district]" type="text" 
               value="<%= @child[:mother][:foreigner_current_district] rescue nil %>"
               class="input_cell"
               optional="true"/>
      </div>
       

      <div class="field">
        <label for="child_mother_foreigner_current_village">Village/Town</label><br>
        <input id="child_mother_foreigner_current_village" 
               name="child[mother][foreigner_current_village]" 
	       type="text" 
	       value="<%= @child[:mother][:foreigner_current_village] rescue nil %>"
               class="input_cell" 
               ajaxURL="/search_by_village" optional="true"/>
      </div>

      <div class="field">
        <label for="child_mother_foreigner_current_ta">Address</label><br>
        <input id="child_mother_foreigner_current_ta" 
	       name="child[mother][foreigner_current_ta]" 
	       type="text" 
               value="<%= @child[:mother][:foreigner_current_ta] rescue nil %>"
               class="input_cell"
               optional="true"/>
      </div>

      

    </fieldset>

  
  <% elsif ["child_mother_home_district","child_mother_home_ta", "child_mother_home_village"].include? @field  %>
  
    <fieldset>
      <legend>Details of Child's Mother (cont'd) - Home address</legend>
     
      <div class="field">
        <label for="child_mother_home_district">District</label><br>
        <input id="child_mother_home_district" 
	       name="child[mother][home_district]"
	       type="text" 
	       value="<%= @child[:mother][:home_district] rescue nil %>"
               class="input_cell" 
	       ajaxURL="/search_by_district"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_mother_home_ta').getAttribute('section'))][parseInt(__$('textForchild_mother_home_ta').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_ta?district=' + __$('textForchild_mother_home_district').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_mother_home_ta">T/A</label><br>
        <input id="child_mother_home_ta" 
	       name="child[mother][home_ta]"
	       type="text" 
	       value="<%= @child[:mother][:home_ta] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_ta"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_mother_home_village').getAttribute('section'))][parseInt(__$('textForchild_mother_home_village').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_village?district=' + __$('textForchild_mother_home_district').value + '&ta=' + __$('textForchild_mother_home_ta').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_mother_home_village">Village</label><br>
        <input id="child_mother_home_village" 
               name="child[mother][home_village]" 
               type="text" 
               value="<%= @child[:mother][:home_village] rescue nil %>"
               class="input_cell" 
               ajaxURL="/search_by_village" 
               optional="true"/>
      </div>

    </fieldset>

<% elsif ["foreigner_home_address_same_as_physical","child_mother_home_country", "child_mother_foreigner_home_district","child_mother_foreigner_home_village", "child_mother_foreigner_home_ta"].include? @field  %>

     <fieldset condition="__$('child_mother_citizenship').value.trim() != 'Malawian'">

      <legend>Details of Child's Mother (cont'd) - Home address</legend>
      
       <div class="field">
        <label for="child_mother_home_country">Country</label><br>
        <input id="child_mother_home_country" name="child[mother][home_country]" type="text" 
               value="<%= @child[:mother][:home_country] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_country"
               condition="__$('child_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>
       
      <div class="field">
        <label for="child_mother_foreigner_home_district">District/State</label><br>
        <input id="child_mother_foreigner_home_district" name="child[mother][foreigner_home_district]" type="text" 
               value="<%= @child[:mother][:foreigner_home_district] rescue nil %>"
               class="input_cell"
               condition="__$('child_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>
       

      <div class="field">
        <label for="child_mother_foreigner_home_village">Village/Town</label><br>
        <input id="child_mother_foreigner_home_village" 
               name="child[mother][foreigner_home_village]" 
	       type="text" 
	       value="<%= @child[:mother][:foreigner_home_village] rescue nil %>"
               class="input_cell" 
               condition="__$('child_mother_citizenship').value.trim() != 'Malawian'"
               ajaxURL="/search_by_village" optional="true"/>
      </div>

      <div class="field">
        <label for="child_mother_foreigner_home_ta">Address</label><br>
        <input id="child_mother_foreigner_home_ta" 
	       name="child[mother][foreigner_home_ta]" 
	       type="text" 
               value="<%= @child[:mother][:foreigner_home_ta] rescue nil %>"
               class="input_cell"
               condition="__$('child_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>

      

    </fieldset>

<% elsif ["child_gestation_at_birth","child_number_of_prenatal_visits", "child_month_prenatal_care_started","child_mode_of_delivery"].include? @field  %>

    <fieldset>
      <legend>Details of Child's Mother (cont'd)</legend>

      <div class="field">
        <label for="child_gestation_at_birth">Gestation age at birth in weeks</label>
        <br>
        <%= (f.number_field :gestation_at_birth, :class => "input_cell", :fieldtype => "number", :min => 36,
                            :absolute_min => 30, :max => 42, :absolute_max => 44 , :optional=>true) %>
      </div>
      <div class="field">
        <%= f.label :number_of_prenatal_visits %>
        <br>
        <%= (f.number_field :number_of_prenatal_visits, :class => "input_cell", :fieldtype => "number", :min => 3,
                            :absolute_min => 1, :max => 6, :absolute_max => 12, :optional=>true) %>
      </div>
      <div class="field">
        <label for="child_month_prenatal_care_started">Month of pregnancy prenatal care started</label>
        <br>
        <%= (f.number_field :month_prenatal_care_started, :class => "input_cell", :fieldtype => "number", :min => 3,
                            :absolute_min => 1, :max => 6, :absolute_max => 10, :optional=>true) %>
      </div>
      <div class="field">
        <%= f.label :mode_of_delivery %>
        <br>
        <select id="child_mode_of_delivery" name="child[mode_of_delivery]" class="input_cell" optional="true">
          <option></option>
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "SVD" ? "selected" : "") %> >SVD</option>
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "Vacuum Extraction" ? "selected" : "") %> >Vacuum
            Extraction
          </option>
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "Breech" ? "selected" : "") %> >Breech</option>
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "Forceps" ? "selected" : "") %> >Forceps</option>
          <option <%= ((@child[:mode_of_delivery] rescue nil) == "Caesarean Section" ? "selected" : "") %> >Caesarean
            Section
          </option>
        </select>
      </div>
      
      </fieldset>
      
<% elsif ["child_number_of_children_born_alive_inclusive","child_number_of_children_born_still_alive","child_level_of_education"].include? @field  %>

      <fieldset>
      <legend>Details of Child's Mother (cont'd)</legend>
      <div class="field">
        <label for="child_number_of_children_born_alive_inclusive">Number of children born to the mother, including this
          child</label>
        <br>
        <%= (f.number_field :number_of_children_born_alive_inclusive, 
                            :class => "input_cell", 
                            :fieldtype => "number",
                            :absolute_min => 1, 
                            :max => 6, 
                            :absolute_max => 20, 
                            :optional => true,
                            :tt_onUnload => "navigablefieldsets[parseInt(__$('textForchild_number_of_children_born_still_alive').getAttribute('section'))][parseInt(__$('textForchild_number_of_children_born_still_alive').getAttribute('pos'))].setAttribute('absolute_max', __$('textForchild_number_of_children_born_alive_inclusive').value.trim())") %>
      </div>
      
      
      <div class="field">
        <label for="child_number_of_children_born_still_alive">Number of children born to the mother, and still
          living</label>
        <br>
        <%= (f.number_field :number_of_children_born_still_alive, 
                            :class => "input_cell", 
                            :absolute_max => 20, 
                            :fieldtype => "number",
                            :absolute_min => 1, 
                            :max => 6, 
                            :optional => true) %>
      </div>
      
      
      
      
      <div class="field">
        <label for="child_level_of_education">Completed Level of education</label>
        <br>
        <select id="child_level_of_education" name="child[level_of_education]" class="input_cell" optional="true" >
          <option></option>
          <option <%= ((@child[:level_of_education] rescue nil) == "None" ? "selected" : "") %> >None</option>
          <option <%= ((@child[:level_of_education] rescue nil) == "Primary" ? "selected" : "") %> >Primary</option>
          <option <%= ((@child[:level_of_education] rescue nil) == "Secondary" ? "selected" : "") %> >Secondary</option>
          <option <%= ((@child[:level_of_education] rescue nil) == "Higher Education" ? "selected" : "") %> >Higher Education</option>
        </select>
      </div>

      <div class="field">
        <label for="details_of_father_known">Details of father known?</label>
        <br>
        <select id="details_of_father_known" name="details_of_father_known" class="input_cell">
          <option></option>
          <option value="Yes" >Yes</option>
          <option value="No" >No</option>

        </select>
      </div>

    </fieldset>
    
<% elsif ["child_father_last_name","child_father_first_name","child_father_middle_name", "child_father_id_number"].include? @field  %>

    <fieldset>
      <legend>Details of Child's Father</legend>

      <!-- Father -->
      <% if params[:amend].present? && params[:amend]=="true" %>

          <input type="hidden" name="old_father_last_name" value="<%=@child[:father][:last_name]%>">
          <input type="hidden" name="old_father_first_name" value="<%=@child[:father][:first_name]%>">
          <input type="hidden" name="old_father_middle_name" value="<%=@child[:father][:middle_name]%>">
      <%end %>
      <div class="field">
        <label for="child_father_last_name">Surname</label><br>
        <input id="child_father_last_name" 
               name="child[father][last_name]" 
               type="text" 
               ajaxURL = "/get_last_names" 
               value="<%= @child[:father][:last_name].titleize rescue nil %>"
               class="input_cell"  />
      </div>

      <div class="field">
        <label for="child_father_first_name">First Name</label><br>
        <input id="child_father_first_name" 
               name="child[father][first_name]" 
               type="text" 
               ajaxURL = "/get_first_names" 
               value="<%= @child[:father][:first_name].titleize rescue nil %>"
               class="input_cell"  />
      </div>

      <div class="field">
        <label for="child_father_middle_name">Other Name</label><br>
        <input id="child_father_middle_name" 
               name="child[father][middle_name]" 
               type="text" 
               ajaxURL = "/get_first_names" 
               value="<%= @child[:father][:middle_name].titleize rescue nil %>"
               class="input_cell"  optional="true"/>
      </div>

      <div class="field">
        <label for="child_father_id_number">ID Number</label><br>
        <input id="child_father_id_number" name="child[father][id_number]" type="text" value="<%= @child[:father][:id_number] rescue nil %>"
               class="input_cell"  optional="true"/>
      </div>
      
    </fieldset>
    
<% elsif ["child_father_birthdate","child_father_first_name","child_father_middle_name", "child_father_citizenship"].include? @field  %>

    <fieldset>
      <legend>Details of Child's Father (cont'd)</legend>

      <div class="field">
        <label for="child_father_birthdate">Date of Birth</label><br>
       
        <input id="child_father_birthdate" name="child[father][birthdate]" type="text" 
	       value="<%= @child[:father][:birthdate] rescue nil %>"
               class="input_cell"  
               fieldtype="date" 
               optional="true"
               tt_onLoad="validateDate('<%= @child.birthdate rescue nil %>', __$('child_father_birthdate'), 100, 14, 200, 8)"/>
        
      </div>

      <div class="field">
        <label for="child_father_citizenship">Nationality</label><br>
        <input id="child_father_citizenship" name="child[father][citizenship]" type="text" value="<%= @child[:father][:citizenship] rescue nil %>"
               class="input_cell"  ajaxURL="/search_by_nationality" optional="true" />
      </div>

    </fieldset>
    
<% elsif ["child_father_current_district","child_father_current_ta","child_father_current_village"].include? @field  %>

    <fieldset>
      <legend>Details of Child's Father (cont'd) - Physical Residential Address</legend>
      
      <div class="field">
        <label for="child_father_current_district">District</label><br>
        <input id="child_father_current_district" name="child[father][current_district]" type="text" value="<%= @child[:father][:current_district] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_district"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_father_current_ta').getAttribute('section'))][parseInt(__$('textForchild_father_current_ta').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_ta?district=' + __$('textForchild_father_current_district').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_father_current_ta">T/A or Area of Residence</label><br>
        <input id="child_father_current_ta" name="child[father][current_ta]" type="text" value="<%= @child[:father][:current_ta] rescue nil %>"
               class="input_cell"  ajaxURL="/search_by_ta"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_father_current_village').getAttribute('section'))][parseInt(__$('textForchild_father_current_village').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_village?district=' + __$('textForchild_father_current_district').value + '&ta=' + __$('textForchild_father_current_ta').value);" optional="true" />
      </div>

      <div class="field">
        <label for="child_father_current_village">Village/Town</label><br>
        <input id="child_father_current_village" name="child[father][current_village]" type="text" value="<%= @child[:father][:current_village] rescue nil %>"
               class="input_cell"  ajaxURL="/search_by_village" optional="true" />
      </div>

    </fieldset>
    
<% elsif ["child_father_home_district","child_father_home_ta","child_father_home_village"].include? @field  %>
 
    <fieldset>
      <legend>Details of Child's Father (cont'd) - Home Address</legend>

      <div class="field">
        <label for="child_father_home_district">District</label><br>
        <input id="child_father_home_district" 
               name="child[father][home_district]" 
               type="text" 
               value="<%= @child[:father][:home_district] rescue nil %>"
               class="input_cell"  
               ajaxURL="/search_by_district"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_father_home_ta').getAttribute('section'))][parseInt(__$('textForchild_father_home_ta').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_ta?district=' + __$('textForchild_father_home_district').value);"   optional="true" />
      </div>

      <div class="field">
        <label for="child_father_home_ta">T/A</label><br>
        <input id="child_father_home_ta"  
               name="child[father][home_ta]" 
               type="text" 
               value="<%= @child[:father][:home_ta] rescue nil %>"
               class="input_cell"  
               ajaxURL="/search_by_ta"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_father_home_village').getAttribute('section'))][parseInt(__$('textForchild_father_home_village').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_village?district=' + __$('textForchild_father_home_district').value + '&ta=' + __$('textForchild_father_home_ta').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_father_home_village">Village</label><br>
        <input id="child_father_home_village" 
               name="child[father][home_village]" 
               type="text" 
               value="<%= @child[:father][:home_village] rescue nil %>"
               class="input_cell"  
               ajaxURL="/search_by_village" 
               optional="true" />
      </div>

    </fieldset>
    
 <!-- adoptive mother -->
 
 
    <% elsif ["child_foster_mother_last_name","child_foster_mother_first_name", "child_foster_mother_middle_name", "child_foster_mother_id_number" ].include? @field  %>

   
      
      <fieldset>
      <legend><font size='5' style='border: 2px;'>Details of Adoptive Mother</font></legend>
      
      <% if params[:amend].present? && params[:amend]=="true" %>

          <input type="hidden" name="old_foster_mother_last_name" value="<%=@child[:foster_mother][:last_name]%>">
          <input type="hidden" name="old_foster_mother_first_name" value="<%=@child[:foster_mother][:first_name]%>">
          <input type="hidden" name="old_foster_mother_middle" value="<%=@child[:foster_mother][:middle_name]%>">
      <%end %>

      <div class="field">
        <label for="child_foster_mother_last_name">Maiden Surname</label><br>

        <input id="child_foster_mother_last_name"
        			 name="child[foster_mother][last_name]"
        			 type="text"
        			 value="<%= @child[:foster_mother][:last_name] rescue nil %>"
        			 ajaxURL = "/get_last_names"
        			 class="input_cell"/>

      </div>

      <div class="field">
        <label for="child_foster_mother_first_name">First Name</label><br>
        <input id="child_foster_mother_first_name" name="child[foster_mother][first_name]"
        type="text"
        value="<%= @child[:foster_mother][:first_name] rescue nil %>"
        ajaxURL = "/get_first_names"
        class="input_cell" />
      </div>

      <div class="field">
        <label for="child_foster_mother_middle_name">Other Name</label><br>
        <input id="child_foster_mother_middle_name"
               name="child[foster_mother][middle_name]"
               type="text"
               value="<%= @child[:foster_mother][:middle_name] rescue nil %>"
               class="input_cell"
               ajaxURL = "/get_first_names"
               optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_mother_id_number">ID Number</label><br>
        <input id="child_foster_mother_id_number"
               name="child[foster_mother][id_number]"
               type="text"
               value="<%= @child[:foster_mother][:id_number] rescue nil %>"
               class="input_cell"
               condition="false"
               optional="true" />

      </div>

    </fieldset>
    
<% elsif ["child_foster_mother_birthdate","child_foster_mother_citizenship"].include? @field  %>
      
      <fieldset condition="__$('foster_parents').value.trim().toLowerCase() == 'mother' || __$('foster_parents').value.trim().toLowerCase() == 'both';">
      <legend><font size='5' style='border: 2px;'>Details of Adoptive Mother continued</font></legend>

      <div class="field">
        <label for="child_foster_mother_birthdate">Date of Birth</label>
        <br>

        <input id="child_foster_mother_birthdate" name="child[foster_mother][birthdate]" type="text"
                value="<%= @child[:foster_mother][:birthdate] rescue nil %>"
                class="input_cell"
                fieldtype="date"
                optional="true"
                tt_onLoad="validateDate(__$('child_birthdate'), __$('child_foster_mother_birthdate'), 45, 14, 60, 8)" />

        <input id="child_foster_mother_birthdate_estimated" name="child[mother][birthdate_estimated]" type="hidden"/>


      </div>

      <div class="field">
        <label for="child_foster_mother_citizenship">Nationality</label><br>
        <input id="child_foster_mother_citizenship" 
        			 name="child[foster_mother][citizenship]" 
        			 type="text" 
        			 value="<%= @child[:foster_mother][:citizenship] rescue nil %>"
               class="input_cell" 
               ajaxURL="/search_by_nationality" />
      </div>
      
       <div class="field">
        <label for="child_foster_mother_local_residential_country">Country of Residence</label><br>
        <input id="child_foster_mother_local_residential_country" name="child[foster_mother][residential_country]" type="text"
               value="<%= @child[:foster_mother][:residential_country] rescue nil %>"
               class="input_cell" 
               ajaxURL="/search_by_country" />
      </div>

    </fieldset>
    
<% elsif ["child_foster_mother_current_district","child_foster_mother_current_ta", "child_foster_mother_current_village"].include? @field  %>
 <fieldset>
      <legend><font size='5' style='border: 2px;'>Details of Adoptive Mother continued: Physical residential address</font></legend>

      <div class="field">
        <label for="child_foster_mother_current_district">District</label><br>
        <input id="child_foster_mother_current_district" name="child[foster_mother][current_district]" type="text" value="<%= @child[:foster_mother][:current_district] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_district"
               condition="__$('child_foster_mother_local_residential_country').value.trim() == 'Malawi'"
               tt_onLoad="clearRelated()"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_foster_mother_current_ta').getAttribute('section'))][parseInt(__$('textForchild_foster_mother_current_ta').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_ta?district=' + __$('textForchild_foster_mother_current_district').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_mother_current_ta">T/A or Area of Residence</label><br>
        <input id="child_foster_mother_current_ta" name="child[foster_mother][current_ta]" type="text" value="<%= @child[:foster_mother][:current_ta] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_ta"
               condition="__$('child_foster_mother_local_residential_country').value.trim() == 'Malawi'"
               tt_onLoad="clearRelated()"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_foster_mother_current_village').getAttribute('section'))][parseInt(__$('textForchild_foster_mother_current_village').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_village?district=' + __$('textForchild_foster_mother_current_district').value + '&ta=' + __$('textForchild_foster_mother_current_ta').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_mother_current_village">Village/Town</label><br>
        <input id="child_foster_mother_current_village" name="child[foster_mother][current_village]" type="text" value="<%= @child[:foster_mother][:current_village] rescue nil %>"
               class="input_cell"
               condition="__$('child_foster_mother_local_residential_country').value.trim() == 'Malawi'"
	      ajaxURL="/search_by_village" optional="true"/>
      </div>

    </fieldset>
    
  <% elsif ["child_foster_mother_residential_country","child_foster_mother_foreigner_current_district", "child_foster_mother_foreigner_current_village", "child_foster_mother_foreigner_current_ta"].include? @field  %>

     <fieldset>

      <legend><font size='5' style='border: 2px;'>Details of Adoptive Mother continued: Physical residential address</font></legend>

      <div class="field">
        <label for="child_foster_mother_foreigner_current_district">District/State</label><br>
        <input id="child_foster_mother_foreigner_current_district" name="child[foster_mother][foreigner_current_district]" type="text"
               value="<%= @child[:foster_mother][:foreigner_current_district] rescue nil %>"
               class="input_cell"
               condition="__$('child_foster_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>


      <div class="field">
        <label for="child_foster_mother_foreigner_current_village">Village/Town</label><br>
        <input id="child_foster_mother_foreigner_current_village"
               name="child[foster_mother][foreigner_current_village]"
	       type="text"
	       value="<%= @child[:foster_mother][:foreigner_current_village] rescue nil %>"
               class="input_cell"
               condition="__$('child_foster_mother_citizenship').value.trim() != 'Malawian'"
               ajaxURL="/search_by_village" optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_mother_foreigner_current_ta">Address</label><br>
        <input id="child_foster_mother_foreigner_current_ta"
	       name="child[foster_mother][foreigner_current_ta]"
	       type="text"
               value="<%= @child[:foster_mother][:foreigner_current_ta] rescue nil %>"
               class="input_cell"
               condition="__$('child_foster_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>

    </fieldset>

  
  <% elsif ["child_foster_mother_home_district","child_foster_mother_home_ta", "child_foster_mother_home_village"].include? @field  %>
  
    <fieldset>

      <legend><font size='5' style='border: 2px;'>Details of Adoptive Mother continued: Home address</font></legend>

       <div class="field">
        <label for="foreigner_home_address_same_as_physical_foster">Home address same as the physical address?</label>
        <br>
        <select id="foreigner_home_address_same_as_physical_foster"
		name="home_address_same_as_physical"
                condition="__$('child_foster_mother_citizenship').value.trim() != 'Malawian'"
		class="input_cell"
         	tt_onUnload= />
          	<option></option>
          	<option value="Yes" >Yes</option>
          	<option value="No" >No</option>
        </select>
      </div>

       <div class="field">
        <label for="child_foster_mother_home_country">Country</label><br>
        <input id="child_foster_mother_home_country" name="child[mother][home_country]" type="text"
               value="<%= @child[:foster_mother][:home_country] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_country"
               condition="__$('child_foster_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_mother_foreigner_home_district">District/State</label><br>
        <input id="child_foster_mother_foreigner_home_district" name="child[foster_mother][foreigner_home_district]" type="text"
               value="<%= @child[:foster_mother][:foreigner_home_district] rescue nil %>"
               class="input_cell"
               condition="__$('child_foster_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>


      <div class="field">
        <label for="child_foster_mother_foreigner_home_village">Village/Town</label><br>
        <input id="child_foster_mother_foreigner_home_village"
               name="child[foster_mother][foreigner_home_village]"
	       type="text"
	       value="<%= @child[:foster_mother][:foreigner_home_village] rescue nil %>"
               class="input_cell"
               condition="__$('child_foster_mother_citizenship').value.trim() != 'Malawian'"
               ajaxURL="/search_by_village" optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_mother_foreigner_home_ta">Address</label><br>
        <input id="child_foster_mother_foreigner_home_ta"
	       name="child[foster_mother][foreigner_home_ta]"
	       type="text"
               value="<%= @child[:foster_mother][:foreigner_home_ta] rescue nil %>"
               class="input_cell"
               condition="__$('child_foster_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>

    </fieldset>

<% elsif ["child_foster_mother_home_country", "child_foster_mother_foreigner_home_district","child_foster_mother_foreigner_home_village", "child_foster_mother_foreigner_home_ta"].include? @field  %>

     <fieldset condition="__$('child_mother_citizenship').value.trim() != 'Malawian'">

      <legend>Details of Child's Mother (cont'd) - Home address</legend>
      
       <div class="field">
        <label for="child_mother_home_country">Country</label><br>
        <input id="child_mother_home_country" name="child[mother][home_country]" type="text" 
               value="<%= @child[:mother][:home_country] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_country"
               condition="__$('child_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>
       
      <div class="field">
        <label for="child_mother_foreigner_home_district">District/State</label><br>
        <input id="child_mother_foreigner_home_district" name="child[mother][foreigner_home_district]" type="text" 
               value="<%= @child[:mother][:foreigner_home_district] rescue nil %>"
               class="input_cell"
               condition="__$('child_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>
       

      <div class="field">
        <label for="child_mother_foreigner_home_village">Village/Town</label><br>
        <input id="child_mother_foreigner_home_village" 
               name="child[mother][foreigner_home_village]" 
	       type="text" 
	       value="<%= @child[:mother][:foreigner_home_village] rescue nil %>"
               class="input_cell" 
               condition="__$('child_mother_citizenship').value.trim() != 'Malawian'"
               ajaxURL="/search_by_village" optional="true"/>
      </div>

      <div class="field">
        <label for="child_mother_foreigner_home_ta">Address</label><br>
        <input id="child_mother_foreigner_home_ta" 
	       name="child[mother][foreigner_home_ta]" 
	       type="text" 
               value="<%= @child[:mother][:foreigner_home_ta] rescue nil %>"
               class="input_cell"
               condition="__$('child_mother_citizenship').value.trim() != 'Malawian'"
               optional="true"/>
      </div>

      

    </fieldset>
 
 <!-- adoptive mother -->
 
 
 <!-- adoptive father -->
 
 <% elsif ["child_foster_father_last_name","child_foster_father_first_name","child_foster_father_middle_name", "child_foster_father_id_number"].include? @field  %>

      <!-- Father -->
      
      <fieldset>
      
      <% if params[:amend].present? && params[:amend]=="true" %>

          <input type="hidden" name="old_foster_father_last_name" value="<%=@child[:foster_father][:last_name]%>">
          <input type="hidden" name="old_foster_father_first_name" value="<%=@child[:foster_father][:first_name]%>">
          <input type="hidden" name="old_foster_father_middle" value="<%=@child[:foster_father][:middle_name]%>">
      <% end %>
      
      <legend><font size='5' style='border: 2px;'>Details of Adoptive Father</font></legend>

      <!-- Father -->

      <div class="field">
        <label for="child_foster_father_last_name">Surname</label><br>
        <input id="child_foster_father_last_name"
               name="child[foster_father][last_name]"
               type="text"
               value="<%= @child[:foster_father][:last_name] rescue nil %>"
               ajaxURL = "/get_last_names"
               class="input_cell"
        />
      </div>

      <div class="field">
        <label for="child_foster_father_first_name">First Name</label><br>
        <input id="child_foster_father_first_name"
               name="child[foster_father][first_name]"
               type="text"
               value="<%= @child[:foster_father][:first_name] rescue nil %>"
               ajaxURL = "/get_first_names"
               class="input_cell"
              />
      </div>

      <div class="field">
        <label for="child_foster_father_middle_name">Other Name</label><br>
        <input id="child_foster_father_middle_name"
               name="child[foster_father][middle_name]"
               type="text"
               value="<%= @child[:foster_father][:middle_name] rescue nil %>"
               ajaxURL = "/get_first_names"
               class="input_cell"
               optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_father_id_number">ID Number</label><br>
        <input id="child_foster_father_id_number"
               name="child[foster_father][id_number]"
               type="text"
               value="<%= @child[:foster_father][:id_number] rescue nil %>"
               class="input_cell"
               condition="false"
               optional="true"/>
      </div>

    </fieldset>
    
<% elsif ["child_foster_father_birthdate","child_foster_father_first_name","child_foster_father_middle_name", "child_foster_father_citizenship"].include? @field  %>

    <fieldset>
      <legend><font size='5' style='border: 2px;'>Details of Adoptive Father continued</font></legend>

      <div class="field">
        <label for="child_foster_father_birthdate">Date of Birth</label><br>

        <input id="child_foster_father_birthdate" name="child[foster_father][birthdate]" type="text"
      	       value="<%= @child[:foster_father][:birthdate] rescue nil %>"
               class="input_cell"
               fieldtype="date"
               optional="true"
               tt_onLoad="validateDate(__$('child_birthdate'), __$('child_foster_father_birthdate'), 100, 14, 115, 8)" />

        <input id="child_foster_father_birthdate_estimated" name="child[foster_father][birthdate_estimated]" type="hidden" optional='true'/>

      </div>

      <div class="field">
        <label for="child_foster_father_citizenship">Nationality</label><br>
        <input id="child_foster_father_citizenship"
               name="child[foster_father][citizenship]"
               type="text"
               value="<%= @child[:foster_father][:citizenship] rescue nil %>"
               class="input_cell"
               ajaxURL="/search_by_nationality" />
      </div>
      
      
      <div class="field">
        <label for="child_foster_father_residential_country">Country of Residence</label><br>
        <input id="child_foster_father_residential_country" name="child[foster_father][residential_country]" type="text"
               value="<%= @child[:foster_father][:residential_country] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_country"
         />
      </div>

    </fieldset>
    
<% elsif ["child_foster_father_current_district","child_foster_father_current_ta","child_foster_father_current_village"].include? @field  %>

    <fieldset>

      <legend><font size='5' style='border: 2px;'>Details of Adoptive Father continued: Physical residential address</font></legend>

      <div class="field">
        <label for="child_foster_father_current_district">District</label><br>
        <input id="child_foster_father_current_district" name="child[foster_father][current_district]" type="text" value="<%= @child[:foster_father][:current_district] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_district"
               condition="__$('child_foster_father_residential_country').value.trim() == 'Malawi'"
               tt_onLoad="clearRelated()"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_foster_father_current_ta').getAttribute('section'))][parseInt(__$('textForchild_foster_father_current_ta').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_ta?district=' + __$('textForchild_foster_father_current_district').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_father_current_ta">T/A or Area of Residence</label><br>
        <input id="child_foster_father_current_ta" name="child[foster_father][current_ta]" type="text" value="<%= @child[:foster_father][:current_ta] rescue nil %>"
               class="input_cell" ajaxURL="/search_by_ta"
               condition="__$('child_foster_father_residential_country').value.trim() == 'Malawi'"
               tt_onLoad="clearRelated()"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_foster_father_current_village').getAttribute('section'))][parseInt(__$('textForchild_foster_father_current_village').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_village?district=' + __$('textForchild_foster_father_current_district').value + '&ta=' + __$('textForchild_foster_father_current_ta').value);" optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_father_current_village">Village/Town</label><br>
        <input id="child_foster_father_current_village" name="child[foster_father][current_village]" type="text" value="<%= @child[:foster_father][:current_village] rescue nil %>"
               class="input_cell"
               condition="__$('child_foster_father_residential_country').value.trim() == 'Malawi'"
	      ajaxURL="/search_by_village" optional="true"/>
      </div>

    </fieldset>
    
<% elsif ["child_foster_father_home_district","child_foster_father_home_ta","child_foster_father_home_village"].include? @field  %>
 
    <fieldset>
      <legend><font size='5' style='border: 2px;'>Details of Adoptive Father continued: Home Address</font></legend>

      <div class="field">
        <label for="foster_father_home_address_same_as_physical">Home address same as the physical address?</label>
        <br>
        <select id="foster_father_home_address_same_as_physical"
        name="home_address_same_as_physical"
        class="input_cell" 
        tt_onUnload="if(__$('textForfoster_father_home_address_same_as_physical').value.trim() == 'Yes'){loadFosterFathersAddress();} else {unloadFosterFathersAddress();}" />
        <option></option>
        <option value="Yes" >Yes</option>
        <option value="No" >No</option>
      </select>
    </div>

      <div class="field">
        <label for="child_foster_father_home_district">District</label><br>
        <input id="child_foster_father_home_district"
               name="child[foster_father][home_district]"
               type="text"
               value="<%= @child[:foster_father][:home_district] rescue nil %>"
               class="input_cell"
               ajaxURL="/search_by_district"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_foster_father_home_ta').getAttribute('section'))][parseInt(__$('textForchild_foster_father_home_ta').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_ta?district=' + __$('textForchild_foster_father_home_district').value);" optional="true" />
      </div>

      <div class="field">
        <label for="child_foster_father_home_ta">T/A</label><br>
        <input id="child_foster_father_home_ta"
               name="child[foster_father][home_ta]"
               type="text"
               value="<%= @child[:foster_father][:home_ta] rescue nil %>"
               class="input_cell"
               ajaxURL="/search_by_ta"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_foster_father_home_village').getAttribute('section'))][parseInt(__$('textForchild_foster_father_home_village').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_village?district=' + __$('textForchild_foster_father_home_district').value + '&ta=' + __$('textForchild_foster_father_home_ta').value);"
               optional="true"/>
      </div>

      <div class="field">
        <label for="child_foster_father_home_village">Village</label><br>
        <input id="child_foster_father_home_village"
               name="child[foster_father][home_village]"
               type="text"
               value="<%= @child[:foster_father][:home_village] rescue nil %>"
               class="input_cell"
               ajaxURL="/search_by_village" optional="true" />
      </div>

    </fieldset>
 <!-- adoptive father -->
 
<% elsif ["child_informant_last_name","child_informant_first_name","child_informant_middle_name", "child_informant_id_number", "child_informant_relationship_to_child"].include? @field  %>

    <fieldset>
      <legend>Details of Child's Informant</legend>

      <!-- Informant -->        

      <div class="field">
        <label for="child_informant_last_name">Surname</label><br>
        <input id="child_informant_last_name" 
               name="child[informant][last_name]" 
               type="text" 
               ajaxURL = "/get_last_names" 
               value="<%= @child[:informant][:last_name].titleize rescue nil %>" 
               class="input_cell" 
               optional="true"/>
      </div>

      <div class="field">
        <label for="child_informant_first_name">First Name</label><br>
        <input id="child_informant_first_name" 
               name="child[informant][first_name]" 
               type="text" 
               ajaxURL = "/get_first_names" 
               value="<%= @child[:informant][:first_name].titleize rescue nil %>" 
               class="input_cell" 
               optional="true"/>
      </div>

      <div class="field">
        <label for="child_informant_middle_name">Other Name</label><br>
        <input id="child_informant_middle_name" 
               name="child[informant][middle_name]" 
               type="text" 
               ajaxURL = "/get_first_names" 
               value="<%= @child[:informant][:middle_name].titleize rescue nil %>"
               class="input_cell" 
               optional="true" />
      </div>

      <div class="field">
        <label for="child_informant_id_number">ID Number</label><br>
        <input id="child_informant_id_number" name="child[informant][id_number]" type="text" value="<%= @child[:informant][:id_number] rescue nil %>"
               class="input_cell" optional="true" />
      </div>

      <div class="field">
        <label for="child_informant_relationship_to_child">Relationship To Child</label><br>
        <select id="child_informant_relationship_to_child" name="child[informant][relationship_to_child]" class="input_cell" optional="true">
          <option></option>
          <option <%= ((@child[:informant][:relationship_to_child] rescue nil) == "Mother" ? "selected" : "") %> >Mother</option>
          <option <%= ((@child[:informant][:relationship_to_child] rescue nil) == "Father" ? "selected" : "") %> >Father</option>
          <option <%= ((@child[:informant][:relationship_to_child] rescue nil) == "Brother/Sister" ? "selected" : "") %> >Brother/Sister</option>
          <option <%= ((@child[:informant][:relationship_to_child] rescue nil) == "Aunt/Uncle" ? "selected" : "") %> >Aunt/Uncle</option>
          <option <%= ((@child[:informant][:relationship_to_child] rescue nil) == "Mother-in-law/Father-in-law" ? "selected" : "") %> >Mother-in-law/Father-in-law</option>
          <option <%= ((@child[:informant][:relationship_to_child] rescue nil) == "Sister-in-marriage/Brother-in-marriage" ? "selected" : "") %> >Sister-in-marriage/Brother-in-marriage</option>
          <option <%= ((@child[:informant][:relationship_to_child] rescue nil) == "Other" ? "selected" : "") %> >Other</option>
        </select>
      </div>

    </fieldset>
    
<% elsif ["child_informant_current_district","child_informant_current_ta","child_informant_current_village", "child_informant_addressline1", "child_informant_addressline2", "child_informant_phone_number"].include? @field  %>

    <fieldset>
      <legend>Details of Child's Informant (cont'd) - Address</legend>

      <div class="field">
        <label for="child_informant_current_district">District</label><br>
        <input id="child_informant_current_district" 
               name="child[informant][current_district]" 
               type="text" 
               ajaxURL="/search_by_district"
               value="<%= @child[:informant][:current_district] rescue nil %>" 
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_informant_current_ta').getAttribute('section'))][parseInt(__$('textForchild_informant_current_ta').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_ta?district=' + __$('textForchild_informant_current_district').value);"
               class="input_cell" 
               optional="true"/>
      </div>

      <div class="field">
        <label for="child_informant_current_ta">T/A</label><br>
        <input id="child_informant_current_ta" 
               name="child[informant][current_ta]" 
               type="text" 
               value="<%= @child[:informant][:current_ta] rescue nil %>" 
               ajaxURL="/search_by_ta"
               tt_onUnload="navigablefieldsets[parseInt(__$('textForchild_informant_current_village').getAttribute('section'))][parseInt(__$('textForchild_informant_current_village').getAttribute('pos'))].setAttribute('ajaxURL', '/search_by_village?district=' + __$('textForchild_informant_current_district').value + '&ta=' + __$('textForchild_informant_current_ta').value);"
               class="input_cell" optional="true"/>
      </div>

      <div class="field">
        <label for="child_informant_current_village">Village</label><br>
        <input id="child_informant_current_village" 
               name="child[informant][current_village]" 
               type="text" value="<%= @child[:informant][:current_village] rescue nil %>" 
               class="input_cell" 
               ajaxURL="/search_by_village"
               optional="true"/>
      </div>

      <div class="field">
        <label for="child_informant_addressline1">Postal Address</label><br>
        <input id="child_informant_addressline1" name="child[informant][addressline1]" type="text" value="<%= @child[:informant][:addressline1].titleize rescue nil %>" class="input_cell" placeholder= "e.g. P.O Box 31797 or Current Village" optional="true"/>
      </div>

      <div class="field">
        <label for="child_informant_addressline2"></label><br>
        <input id="child_informant_addressline2" name="child[informant][addressline2]" type="text" value="<%= @child[:informant][:addressline2].titleize rescue nil %>"
               class="input_cell" placeholder= "Lilongwe 3" optional="true" />
      </div>
      
      <div class="field">

        <label for="child_informant_phone_number">Phone Number</label><br>

        <input id="child_informant_phone_number" name="child[informant][phone_number]" type="text" value="<%= @child[:informant][:phone_number] rescue nil %>"
               class="input_cell" optional="true" fieldtype="decimal" regex='^0(?=\d*$)(?:.{7}|.{9})|^N\/A$' regex_message="Please enter a valid phone number" />

      </div>
      
      </fieldset>
      
 <% elsif ["child_form_signed","child_acknowledgement_of_receipt_date"].include? @field  %>     
      
      <fieldset>
      <legend>Details of Child's Informant (cont'd) - Phone Number</legend>
      
      

       <div class="field">
        <label for="form_signed">Has the form been signed by the Informant?</label>
        <br>
        <select id="form_signed" name="child[form_signed]" class="input_cell">
          <option></option>
          <option value="Yes" <%= ((@child[:form_signed] rescue nil) == "Yes" ? "selected" : "") %> >Yes</option>
          <option value="No" <%= ((@child[:form_signed] rescue nil) == "No" ? "selected" : "") %> >No</option>
        </select>
      </div>
      
      <div class="field">
        <label for="child_acknowledgement_of_receipt_date">Date of Receipt</label>
        <br>
        <%= (f.text_field :acknowledgement_of_receipt_date, 
                          :value => @child.acknowledgement_of_receipt_date.strftime('%d/%b/%Y'),
                          :class => "input_cell", 
                          :fieldtype => "date",
                          :absolute_min => Time.now.advance(:years => -1).strftime('%Y/%m/%d'),
                          :absolute_max => Date.today.strftime('%Y/%m/%d')) %>

      </div>

    </fieldset>
 <% elsif ["are_parents_married","date_of_marriage","court_order_attached", "parents_signed"].include? @field  %>
     <%= f.hidden_field :approved  %>
    <fieldset>
      <legend>Acknowledgment of Paternity</legend>

      <div class="field">
        <label for="child_parents_married_to_each_other">Are the parents married to each other?</label>
        <br>
        <select id="child_parents_married_to_each_other" name="child[parents_married_to_each_other]" class="input_cell" >
          <option></option>
          <option <%= ((@child[:parents_married_to_each_other] rescue nil) == "Yes" ? "selected" : "") %> >Yes</option>
          <option <%= ((@child[:parents_married_to_each_other] rescue nil) == "No" ? "selected" : "") %> >No</option>
        </select>
      </div>
      <div class="field">
        <label for="child_date_of_marriage">If yes, date of marriage</label>
        <br>
        <%= (f.text_field :date_of_marriage,
                          :class => "input_cell",
                          :condition => "__$('child_parents_married_to_each_other').value.trim() == 'Yes'",
                          :fieldtype => "date",
                          :optional => true,
                          :min => (@child.mother.birthdate.to_date + 14.years rescue Time.now.advance(:years => -86)).strftime('%Y/%m/%d'),
                          :absolute_min => (@child.mother.birthdate.to_date + 8.years rescue Time.now.advance(:years => -100)).strftime('%Y/%m/%d'),
                          :absolute_max => Date.today.strftime('%Y/%m/%d') ) %>
      </div>

      <div class="field">
        <label for="child_court_order_attached">Court order attached?</label><br>
        <select id="child_court_order_attached" 
                name="child[court_order_attached]" 
                class="input_cell"  
                condition="__$('child_approved').value.trim() == 'No' && __$('child_parents_married_to_each_other').value.trim() == 'No'">
          <option></option>
          <option  <%= ((@child[:court_order_attached] rescue nil) == "Yes" ? "selected" : "") %> >Yes</option>
          <option  <%= ((@child[:court_order_attached] rescue nil) == "No" ? "selected" : "") %> >No</option>
        </select>
      </div>

      <div class="field">
        <label for="child_parents_signed">Parents signed?</label>
        <br>
        <select id="child_parents_signed" name="child[parents_signed]" class="input_cell"
            condition="__$('child_approved').value.trim() == 'No' && __$('child_parents_married_to_each_other').value.trim() == 'No' && __$('child_court_order_attached').value.trim() == 'No'">
          <option></option>
          <option <%= ((@child[:parents_signed] rescue nil) == "Yes" ? "selected" : "") %> >Yes</option>
          <option <%= ((@child[:parents_signed] rescue nil) == "No" ? "selected" : "") %> >No</option>
        </select>

      </div>

    </fieldset>

<% end %>
<% end %>

<script>

    function copyMothersResidence() {

        if (__$("child_father_current_district") && __$("child_mother_current_district") && __$("textForchild_father_current_district")) {

            __$("child_father_current_district").value = __$("child_mother_current_district").value;

            __$("textForchild_father_current_district").value = __$("child_mother_current_district").value;

        }

        if (__$("child_father_current_ta") && __$("child_mother_current_ta") && __$("textForchild_father_current_ta")) {

            __$("child_father_current_ta").value = __$("child_mother_current_ta").value;

            __$("textForchild_father_current_ta").value = __$("child_mother_current_ta").value;

        }

        if (__$("child_father_current_village") && __$("child_mother_current_village") && __$("textForchild_father_current_village")) {

            __$("child_father_current_village").value = __$("child_mother_current_village").value;

            __$("textForchild_father_current_village").value = __$("child_mother_current_village").value;

        }

    }

    function deleteFathersResidence() {

        if (__$("child_father_current_district") && __$("textForchild_father_current_district")) {

            __$("child_father_current_district").value = "";

            __$("textForchild_father_current_district").value = "";

        }

        if (__$("child_father_current_ta") && __$("textForchild_father_current_ta")) {

            __$("child_father_current_ta").value = "";

            __$("textForchild_father_current_ta").value = "";

        }

        if (__$("child_father_current_village") && __$("textForchild_father_current_village")) {

            __$("child_father_current_village").value = "";

            __$("textForchild_father_current_village").value = "";

        }

    }

    function loadMothersDetails(){

        if (__$("child_mother_first_name") && __$("child_informant_first_name") && __$("textForchild_informant_first_name")) {

            __$("child_informant_first_name").value = __$("child_mother_first_name").value;

            __$("textForchild_informant_first_name").value = __$("child_mother_first_name").value;

        }

        if (__$("child_mother_middle_name") && __$("child_informant_middle_name") && __$("textForchild_informant_middle_name")) {

            __$("child_informant_middle_name").value = __$("child_mother_middle_name").value;

            __$("textForchild_informant_middle_name").value = __$("child_mother_middle_name").value;

        }

        if (__$("child_mother_last_name") && __$("child_informant_last_name") && __$("textForchild_informant_last_name")) {

            __$("child_informant_last_name").value = __$("child_mother_last_name").value;

            __$("textForchild_informant_last_name").value = __$("child_mother_last_name").value;

        }

        if (__$("child_informant_relationship_to_child") && __$("textForchild_informant_relationship_to_child")) {

            __$("child_informant_relationship_to_child").value = "Mother";

            __$("textForchild_informant_relationship_to_child").value = "Mother";

        }

        if (__$("child_mother_current_district") && __$("child_informant_current_district")) {

            __$("child_informant_current_district").value = __$("child_mother_current_district").value;

        }

        if (__$("child_mother_current_ta") && __$("child_informant_current_ta")) {

            __$("child_informant_current_ta").value = __$("child_mother_current_ta").value;

        }

        if (__$("child_mother_current_village") && __$("child_informant_current_village")) {

            __$("child_informant_current_village").value = __$("child_mother_current_village").value;

        }

        if (__$("child_mother_id_number")) {

            __$("child_informant_id_number").value = __$("child_mother_id_number").value;

            __$("textForchild_informant_id_number").value = __$("child_mother_id_number").value;


        }

    }

    function unloadInformantsDetails(){

        if (__$("child_informant_first_name") && __$("textForchild_informant_first_name")) {

            __$("child_informant_first_name").value = "";

            __$("textForchild_informant_first_name").value = "";

        }

        if (__$("child_informant_middle_name") && __$("textForchild_informant_middle_name")) {

            __$("child_informant_middle_name").value = "";

            __$("textForchild_informant_middle_name").value = "";

        }

        if (__$("child_informant_last_name") && __$("textForchild_informant_last_name")) {

            __$("child_informant_last_name").value = "";

            __$("textForchild_informant_last_name").value = "";

        }

        if (__$("child_informant_relationship_to_child") && __$("textForchild_informant_relationship_to_child")) {

            __$("child_informant_relationship_to_child").value = "";

            __$("textForchild_informant_relationship_to_child").value = "";

        }

        if (__$("child_informant_current_district") && __$("textForchild_informant_current_district")) {

            __$("child_informant_current_district").value = "";

            __$("textForchild_informant_current_district").value = "";

        }

        if (__$("child_informant_current_ta") && __$("textForchild_informant_current_ta")) {

            __$("child_informant_current_ta").value = "";

            __$("textForchild_informant_current_ta").value = "";

        }

        if (__$("child_informant_current_village") && __$("textForchild_informant_current_village")) {

            __$("child_informant_current_village").value = "";

            __$("textForchild_informant_current_village").value = "";

        }

        if(__$("child_informant_id_number") && __$("textForchild_informant_id_number")) {

             __$("child_informant_id_number").value = "";

            __$("textForchild_informant_id_number").value = "";
        }


    }
     
    function loadFathersDetails(){

        if (__$("child_father_first_name") && __$("child_informant_first_name") && __$("textForchild_informant_first_name")) {

            __$("child_informant_first_name").value = __$("child_father_first_name").value;

            __$("textForchild_informant_first_name").value = __$("child_father_first_name").value;

        }

        if (__$("child_father_middle_name") && __$("child_informant_middle_name") && __$("textForchild_informant_middle_name")) {

            __$("child_informant_middle_name").value = __$("child_father_middle_name").value;

            __$("textForchild_informant_middle_name").value = __$("child_father_middle_name").value;

        }

        if (__$("child_father_last_name") && __$("child_informant_last_name") && __$("textForchild_informant_last_name")) {

            __$("child_informant_last_name").value = __$("child_father_last_name").value;

            __$("textForchild_informant_last_name").value = __$("child_father_last_name").value;

        }

        if (__$("child_informant_relationship_to_child") && __$("textForchild_informant_relationship_to_child")) {

            __$("child_informant_relationship_to_child").value = "Father";

            __$("textForchild_informant_relationship_to_child").value = "Father";

        }

        if (__$("child_father_current_district") && __$("child_informant_current_district")) {

            __$("child_informant_current_district").value = __$("child_father_current_district").value;

        }

        if (__$("child_father_current_ta") && __$("child_informant_current_ta")) {

            __$("child_informant_current_ta").value = __$("child_father_current_ta").value;

        }

        if (__$("child_father_current_village") && __$("child_informant_current_village")) {

            __$("child_informant_current_village").value = __$("child_father_current_village").value;

        }

        if (__$("child_father_id_number")) {

            __$("child_informant_id_number").value = __$("child_father_id_number").value;

            __$("textForchild_informant_id_number").value = __$("child_father_id_number").value;


        }

    }
    
   function loadHealthFacility() {
    
     if(__$("child_place_of_birth").value == "Hospital" || __$("child_place_of_birth").value == "Other" ) {
      
       __$("textForchild_hospital_of_birth").value = ""; 
       
      __$("child_hospital_of_birth").value = ""; 
      
      __$("textForchild_birth_district").value = "<%= district.name%>"; 
       
       __$("child_birth_district").value = "<%= district.name%>"; 
      }
     
    }

    function loadMothersAddress(){
      
        if (__$("child_mother_current_district") && __$("child_mother_home_district")) {
             
            __$("child_mother_home_district").value = __$("child_mother_current_district").value;

            __$("textForchild_mother_home_district").value = __$("child_mother_current_district").value;

        }

        if (__$("child_mother_current_ta") && __$("child_mother_home_ta")) {

            __$("child_mother_home_ta").value = __$("child_mother_current_ta").value;

            __$("textForchild_mother_home_ta").value = __$("child_mother_current_ta").value;

        }

        if (__$("child_mother_current_village") && __$("child_mother_home_village")) {

            __$("child_mother_home_village").value = __$("child_mother_current_village").value;
            
            __$("textForchild_mother_home_village").value = __$("child_mother_current_village").value;

        }


    }
     
    function unloadMothersAddress(){

        if (__$("child_mother_home_district") && __$("textForchild_mother_home_district")) {

            __$("child_mother_home_district").value = "";

            __$("textForchild_mother_home_district").value = "";

        }

        if (__$("child_mother_home_ta") && __$("textForchild_mother_home_ta")) {

            __$("child_mother_home_ta").value = "";

            __$("textForchild_mother_home_ta").value = "";

        }

        if (__$("child_mother_home_village") && __$("textForchild_mother_home_village")) {

            __$("child_mother_home_village").value = "";

            __$("textForchild_mother_home_village").value = "";

        }


    }    
    
    function loadForeignMothersAddress(){
       
        if (__$("child_mother_residential_country") && __$("child_mother_home_country")) {
             
            __$("child_mother_home_country").value = __$("child_mother_residential_country").value;

            __$("textForchild_mother_home_country").value = __$("child_mother_residential_country").value;

        }  
      
        if (__$("child_mother_foreigner_current_district") && __$("child_mother_foreigner_home_district")) {
             
            __$("child_mother_foreigner_current_district").value = __$("child_mother_foreigner_current_district").value;

            __$("textForchild_mother_foreigner_home_district").value = __$("child_mother_foreigner_current_district").value;

        }

        if (__$("child_mother_foreigner_current_village") && __$("child_mother_foreigner_home_village")) {

            __$("child_mother_foreigner_home_village").value = __$("child_mother_foreigner_current_village").value;

            __$("textForchild_mother_foreigner_home_village").value = __$("child_mother_foreigner_current_village").value;

        }

        if (__$("child_mother_foreigner_current_ta") && __$("child_mother_foreigner_home_ta")) {

            __$("child_mother_foreigner_home_ta").value = __$("child_mother_foreigner_current_ta").value;
            
            __$("textForchild_mother_foreigner_home_ta").value = __$("child_mother_foreigner_current_ta").value;

        }


    }
     
    function unloadForeignMothersAddress(){

        if (__$("child_mother_home_country") && __$("textForchild_mother_home_country")) {

            __$("child_mother_home_country").value = "";

            __$("textForchild_mother_home_country").value = "";

        }
        

        if (__$("child_mother_foreigner_home_district") && __$("textForchild_mother_foreigner_home_district")) {

            __$("child_mother_foreigner_home_district").value = "";

            __$("textForchild_mother_foreigner_home_district").value = "";

        }

        if (__$("child_mother_foreigner_home_ta") && __$("textForchild_mother_foreigner_home_ta")) {

            __$("child_mother_foreigner_home_ta").value = "";

            __$("textForchild_mother_foreigner_home_ta").value = "";

        }

        if (__$("child_mother_foreigner_home_village") && __$("textForchild_mother_foreigner_home_village")) {

            __$("child_mother_foreigner_home_village").value = "";

            __$("textForchild_mother_foreigner_home_village").value = "";

        }

    }

    init();
    
    resize();
    
    summaryHash = {};

    function validateDate(date, tag, min, max, absoluteMin, absoluteMax){

        // This function assigns limits to a target element based on parameters

        ele = date.split('/');

        ele[1] = parseInt(monthNames[ele[1]]) + 1;

        if (ele[1] < 10){
            ele[1] = "0" + ele[1];
        }


        current = new Date(ele[0] + "/" + ele[1] + "/" + ele[2]);

        yr1 = current.getFullYear() - min;
        yr2 = current.getFullYear() - max;
        yr3 = current.getFullYear() - absoluteMax;
        yr4 = current.getFullYear() - absoluteMin;

        min =  yr1 + '/' + ele[1] + '/' + ele[0];
        max = yr2 + '/' + ele[1] + '/' + ele[0];
        absoluteMax =  yr3 + '/' + ele[1] + '/' + ele[0];

        if (parseInt(absoluteMin) > 0) {
            absoluteMin =  yr4 + '/' + ele[1] + '/' + ele[0];
        }else{
            absoluteMin = "";
        }


        tag.setAttribute("min", min);
        tag.setAttribute("max", max);
        tag.setAttribute("absolute_max", absoluteMax);
        tag.setAttribute("absolute_min", absoluteMin);

    }


</script>
