<style>
    .action-buttons button , .action-buttons td {
        margin: 0px;
    }
    .action-button {
        margin: 0px;
        padding: 0px;
        height: 30px;
    }
</style>
<div class='data-table-container'>

<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <% if (@display_ben rescue false) %>
        <th style="text-align: left;">BEN</th>
      <% end %>
      <th style="text-align: left;min-width:16%;">Name</th>
      <th style="text-align: left;min-width:16%;">Mother's Details</th>
      <th style="text-align: left; min-width:16%;">Father's Details</th>
      <th style="text-align: center; min-width:16%;">Reporting Date</th>
      <th style="text-align: center;min-width: 10%;">Status</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>

  <%(@records || []).each do |record|%>
      <tr>
        <% if (@display_ben rescue false) %>
            <td style="text-align: left;"><%= '' %></td>
        <% end %>
        <td style="text-align: left;"><%= record['name'] %></td>
        <td style="text-align: left;"><%= record['mother_name'] %></td>
        <td style="text-align: left;"><%= record['father_name'] %></td>
        <td style="text-align: center;"><%= record['date_of_reporting'] %></td>
        <td style="text-align: center;"><%=  record['status']%></td>
        <td style="background-color: white;">

          <% display = SETTINGS['enable_role_privileges'] == false ? '' : 'none'
          %>

          <table class='action-buttons' style="width: 100%; text-align: center; border-style: none;" cellpadding="0">
            <tr>
              <td class="action-button"><button class="btn btn-info" onmousedown="window.location = '/person/<%= record['id']%>?next_path=<%= request.path%>'">
                <%= image_tag "view.png", class: 'btn-images' %></button>
              </td>
              <td class="Edit_Record"
                  style="display:<%= display%>;"
                  class="action-button"><button class="btn btn-warning" onmousedown="window.location = '/person/<%= record['id']%>/edit?next_path=<%= request.path%>'">
                <%= image_tag "edit.png", class: 'btn-images' %></button>
              </td>
              <td class="Void_Record"
                  style="display:<%= display%>;"
                  class="action-button"><button class="btn btn-success" onmousedown="javascript:alert();">
                <%= image_tag "void.png", class: 'btn-images' %></button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>

</div>

<script>

<%
  (@actions || []).each do |action|
  next if (SETTINGS['enable_role_privileges'] == false)
%>
    var clas = "<%= action['button_name'].gsub(/\s+/, '_') %>";
    $("." + clas).show();

<% end %>

var table ;
$(document).ready(function() {
    table = $('#example').DataTable( {
           "pageLength": 5,
           "processing": true,
        });
    var filter = __$("example_filter");
    var search = filter.getElementsByTagName("input")[0];
    search.setAttribute("onclick","changeFocusToMe(this)");
    searchData(search)


} );

var search_value = ""

function searchData(element){
    if (element.value == 0 || search_value == element.value){
        setTimeout(function(){
            searchData(element);
        },100)
    }else{
        search_value = element.value
        table.search(search_value).draw() ;
        setTimeout(function(){
            searchData(element);
        },100)
    }
}

function changeFocusToMe(control){

    if(control) {

        if(__$("cursor_for_" + control.id)){

            if(__$("cursor")){

                __$("cursor_for_" + control.id).appendChild(__$("cursor"));

            }

        }

        showKeyboard(control)

        }

    }

</script>
