<% if request.referrer.match("/search")
    session['list_url'] = '/search'
   else
     session['list_url'] = request.path
   end
%>


<style>

    .t-data{
        border: 1px dotted #d3d3d3;
        background: white;
    }
    th{
        background-color: lightsteelblue !important;
        color: black;
        padding: 10px !important;
    }
    #example_filter input{
        margin-bottom: 10px;
        font-size: 1.1em;
    }

    .action-button{
        width: 70px !important;
        border-bottom: 1px solid ghostwhite !important;
    }

    .action-button div{
        margin: 2px !important;
    }

</style>
<div class='data-table-container'>

<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <% if (@display_ben rescue false) %>
        <th style="text-align: left;">BEN</th>
      <% end %>
      <th style="text-align: left;min-width:16%;">Name</th>
      <th style="text-align: left;min-width:16%;">Mother's Details</th>
      <th style="text-align: left; min-width:16%;">Father's Details</th>
      <th style="text-align: center; min-width:16%;">Reporting Date</th>
      <th style="text-align: center;min-width: 10%;">Status</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>


  <% display = SETTINGS['enable_role_privileges'] == false ? '' : 'none'
  %>

  <%(@records || []).each do |record|%>
      <tr>
        <% if (@display_ben rescue false) %>
            <td class='t-data' style="text-align: left;"><%= record['ben'] %></td>
        <% end %>
        <td class='t-data' style="text-align: left;"><%= record['name'] %></td>
        <td class='t-data' style="text-align: left;"><%= record['mother_name'] %></td>
        <td class='t-data' style="text-align: left;"><%= record['father_name'] %></td>
        <td class='t-data' style="text-align: center;"><%= record['date_of_reporting'] %></td>
        <td class='t-data' style="text-align: center;"><%=  record['status']%></td>
        <td class='t-data t-actions' style="background-color: white;">


          <table class='action-buttons' style="width: 100%; text-align: center; border-style: none;" cellpadding="0">
            <tr>
              <td class="action-button" onmousedown="window.location = '/person/<%= record['id']%>?next_path=<%= request.path%>'">
                <div url='/person/<%= record['id']%>?next_path=<%= request.path%>' class="btn btn-info"
                     >
                <%= image_tag "view.png", class: 'btn-images' %></div>
              </td>
              <td class="Edit_Record" onmousedown="window.location = '/person/<%= record['id']%>/edit?next_path=<%= request.path%>'"
                  style="display:<%= display%>;"
                  class="action-button">
                <div url='/person/<%= record['id']%>/edit?next_path=<%= request.path%>' class="btn btn-warning"
                        >
                <%= image_tag "edit.png", class: 'btn-images' %></div>
              </td>
              <td class="Void_Record"
                  style="display:<%= display%>;"
                  class="action-button">
                <div class="btn btn-success" onmousedown="javascript:alert();">
                <%= image_tag "void.png", class: 'btn-images' %></div>
              </td>
            </tr>
          </table>
      </tr>
    <%end%>
  </tbody>
</table>

</div>

<script>

<%
  (@actions || []).each do |action|
  next if (SETTINGS['enable_role_privileges'] == false)
%>
    var clas = "<%= action['button_name'].gsub(/\s+/, '_') %>";
    $("." + clas).show();

<% end %>

var table ;
$(document).ready(function() {
    table = $('#example').DataTable( {
           "pageLength": 5,
           "processing": true,
        });
    var filter = __$("example_filter");
    var search = filter.getElementsByTagName("input")[0];
    search.setAttribute("onclick","changeFocusToMe(this)");
    searchData(search)


} );

var search_value = ""

function searchData(element){
    if (element.value == 0 || search_value == element.value){
        setTimeout(function(){
            searchData(element);
        },100)
    }else{
        search_value = element.value
        table.search(search_value).draw() ;
        setTimeout(function(){
            searchData(element);
        },100)
    }
}

function changeFocusToMe(control){

    if(control) {

        if(__$("cursor_for_" + control.id)){

            if(__$("cursor")){

                __$("cursor_for_" + control.id).appendChild(__$("cursor"));

            }

        }

        showKeyboard(control)

        }

    }

</script>
