
<div class='data-table-container'>

<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th style="text-align: center;">#</th>
      <th style="text-align: left;">Username</th>
      <th style="text-align: left;">First name</th>
      <th style="text-align: left;">Last name</th>
      <th style="text-align: center; width:120px;">Role</th>
      <th style="text-align: center;">Status</th>
      <th>&nbsp;</th>
  </tr>
  </thead>
    <%(@users || []).each_with_index do |record, i|
      names = record.core_person.person_name
      name = "#{names.first_name} #{names.last_name}"
    %>
      <tr>
        <td style="text-align: left;"><%= (i+1) %></td>
        <td style="text-align: left;"><%= record.username %></td>
        <td style="text-align: left;"><%= names.first_name %></td>
        <td style="text-align: left;"><%= names.last_name %></td>
        <td style="text-align: center;"><%= record.user_role.role.role %></td>
        <td style="text-align: center;">
          <%if record.active == 1%>
            <%= image_tag "tick.png", class: 'btn-images' %></button>
          <%else %>
            <%= image_tag "cancel.png", class: 'btn-images' %></button>
          <%end %>
        </td>
        <td>
          <table style="width: 100%; text-align: center; border-style: none;">
            <tr>  
              <td><button class="btn btn-info" onmousedown="javascript:location='/users/<%=record.id%>';">
                <%= image_tag "view.png", class: 'btn-images' %></button>
              </td>
              <td><button class="btn btn-warning" onmousedown="javascript:location='/users/<%=record.id%>/edit';">
                <%= image_tag "edit.png", class: 'btn-images' %></button>
               </td>
              <td>
                <%if User.current.id == record.id %>
                  &nbsp;
                <%else%>
                  <button class="btn btn-success" onmousedown="javascript:location='/void_user/<%=record.id%>';">
                  <%= image_tag "void.png", class: 'btn-images' %></button>
                <%end%>
               </td>
            </tr>
          </table>
        </td>
      </tr>
    <%end%>
  <tbody>
  </tbody>
</table>

</div>

<script>

$(document).ready(function() {
    $('#example').DataTable();
} );

</script>
